[2015-06-15 13:21] paulaz2 commented on #7
Guys How would you view this?

[2015-06-15 21:16] gambrio commented on #7
Got FFX-2 to go further in the latest weekly and many graphics were improved:
![screenshot_2015-06-15-13-13-28](https://cloud.githubusercontent.com/assets/12025386/8170780/3214b43e-1381-11e5-94c0-4e74d47c6805.png)
![screenshot_2015-06-15-17-00-08](https://cloud.githubusercontent.com/assets/12025386/8170799/4f1de564-1381-11e5-8e99-3b8d2e56bd3a.png)

It does have major speed issues (barely goes 1 fr

[2015-06-15 22:54] bigianb opened #60 "Pluggable VPU implementation"
Hi JP, I thought I would post this here rather than emailing. It's great to see the project gaining traction - I'm still very busy with real life, but watching with interest from the sidelines.
I've been tinkering with some very high level emulation for BGDA - basically I want to hook the VPU and GS implementations. So, when a game is loaded, I look to see what the ID is and if there are any speci

[2015-06-15 23:29] MoochMcGee commented on #60
this is a horrible horrible idea and should be banned from this emulator

On Mon, Jun 15, 2015 at 5:54 PM, Ian Brown <notifications@github.com> wrote:

[2015-06-16 02:28] jpd002 commented on #60
@bigianb While I wasn't planning to do that, I wouldn't have any objection to change the way the VPUs are constructed inside Ee::CSubsystem. Not quite sure about the pluggable part though. Do you want to enhance the game's visuals using the hooks? Are you looking for a way to get rid of that dreaded "DELAYED_MSCAL" thing?

About that, I was planning to write a test in ps2autotests to look into MSC

[2015-06-16 04:07] jpd002 commented on #7
@gambrio Awesome! The games are looking pretty good!

FFX-2's issue is different from KH2. I still need to take a closer look at it, but I think the emulator doesn't detect the game's idle time properly. Also, the movie probably won't work since it uses points for rendering (which I haven't implemented yet).

[2015-06-16 04:17] gambrio commented on #7
@jpd002 I'd have to read upon that, but I can confirm that the FMV does work because, despite it being all garbled, I can see the on-screen text appear about 20 or so minutes after waiting (when Rikku says, "It's showtime, girls."). The problem of rendering it correctly seems different than getting past it, because it was clearly playing (however slow) but I left it there almost an hour and it nev

[2015-06-16 08:29] bigianb commented on #60
@jpd002 The delayed MSCAL works fine - in fact the emulation status of BGDA and the other snowblind engine games is now pretty spot on. What I'm looking to do is to use the core play engine to build an engine which gives an enhanced experience for the BGDA games. For stage one, I am aiming to get the display running in progressive scan at native resolution. Stage 2 would then be to allow modding,

[2015-06-16 14:27] paulaz2 commented on #7
Gambrio please post god of war screenshot of intro and menu thanks in advance! ;) (Y)

[2015-06-16 14:31] paulaz2 commented on #7
Emmm

[2015-06-16 17:28] Fadi5555 commented on #16
@matt12eagles sorry for late to reply.
Thank you so much for saying that.
Anyone who have a knowledge about iOS code it'll be very helpful for release it earlier.
I'mm very happy for you. You as an iOS fan and have a knowledge as well. also you have a jailbroken iPhone 5s to could test it on your own. That's really amazing.

I think we'll get a good compitiable on our iOS devices.
If ever thing go

[2015-06-16 21:12] gambrio commented on #7
@paulaz2 Unfortunately that game is really massive and I don't have the space right now to test it on any devices, so I won't be able to do that until next week or so probably. I will continue to test the rest of the games I have though and hopefully get to eventually helping out this emulator in more ways as well.

[2015-06-16 21:28] bigianb commented on #60
I had some time to take a closer look on my train ride this evening. The main blocker is that m_vpu1 is an object in the EE_Subsystem and so its type is fixed at compile time. If it was a pointer or a reference then we would be able to inject an alternative implementation during EE_subsystem construction.

[2015-06-16 21:36] paulaz2 commented on #7
@gambrio will the emu run on any device with opengles v3.0?

[2015-06-17 03:14] jpd002 commented on #60
@bigianb Sounds like an interesting idea :smile: I would love to see BGDA in HD.

m_vpu1 is an object inside Ee::CSubsystem just because I'd rather avoid using pointers when they are not needed. If you want to make the change, go ahead (just make sure m_vpu0 is also a pointer) and send a pull request over.

[2015-06-17 22:25] bigianb commented on #60
I had a little play this evening with a prototype. The changes are quite small and it compiles ... but it does not work (so no PR yet). For some reason the VIF decoding screws up - I'll look deeper in a day or so.
The changes are in my branch here: https://github.com/bigianb/Play-/tree/injectable_vpu
@jpd002 if you have any comments on the approach before I make a PR (or if you have an idea why it

[2015-06-18 02:25] MoochMcGee commented on #60
The reason why this is a bad idea is because it is a giant hack. Also because code is uploaded to the VUs at runtime, which means you'd have to constantly switch out VU handlers. Also, it wouldn't be compatible with homebrew.

[2015-06-18 02:26] MoochMcGee commented on #60
Seriously, with hacks this gigantic, you'll be shit-tier in no time.

[2015-06-18 02:44] jpd002 commented on #60
I think the idea here is to allow writing a specific VPU handler per game and instantiate it once the game is started. Besides, that PR only changes two object types to pointers. It doesn't change the behavior of the emulator at all.

My stance on game specific modifications is that they shouldn't be used to make games work, but are ok if they are used to enhance games (a bit like texture packs in

[2015-06-18 03:45] jpd002 commented on #7
@paulaz2 There might be some OpenGL ES 3.0 devices that won't work yet.

I've been able to pinpoint the problem with FFX being stuck in the intro. It gets stuck testing a NaN in a loop. I'm currently looking at possible ways to fix that.

[2015-06-18 03:59] shakingboy commented on #7
@jpd002 Hey, when a method is used to get past the freeze on Android, will the same desktop fix on the bridge apply on Android? Because I know things are still not 1:1 between Android and desktop versions.

[2015-06-18 04:05] jpd002 commented on #7
@shakingboy The "bridge problem" shouldn't occur on Android. So, once we get past that freeze, the game should become playable from start.

[2015-06-18 04:08] shakingboy commented on #7
Great. The next overall issues would probably be:

1.Speed.

2.Missing controls.

3.VUs emulation (I believe several games are still hanging due to issues around the VUs).

[2015-06-18 05:28] jpd002 commented on #7
https://github.com/jpd002/Play--CodeGen/commit/9a064b1e51514de7535cd3227b3929aa9b07adcb fixes the hanging problem in FFX. Instead of hanging, some of the characters become glitchy, but it's still playable. I'm currently testing the game to see if I can complete the game's intro.

@shakingboy To improve the speed, here's what I'm planning to do:

- Implement #39.
- Enable SIMD register alloc.
- Imp

[2015-06-18 07:41] bigianb commented on #60
@jpd002, that's exactly right. It's making the core pluggable so that it can be used unchanged in other projects/forks. In my case that is an enhanced snowblind engine ... but that's just context. Also, having an Inversion of Control (IOC) ability makes any future unit testing a lot easier because components can be mocked and injected.

On systems that support DLL loading I could envision the main

[2015-06-18 08:44] paulaz2 commented on #7
@jpd002 i plan on buying the injoo f2 10inch tablet will the emulator work on it? Emmm if not please help me fix the emulator running,it will be cool if you can make it run on all device with opengles v3.0 just like dolphin i know play! On android is still premature but i know you can do it,i believe in you all i want is just to be able to play jet li rise to honour....but try running downhill dom

[2015-06-18 09:08] NikkoVan commented on #27
I didn't expect these to work but I guess I had to try...😝 This was tested on the latest Android version.

TOCA Race Driver 2 - Black screens
Destroy All Humans 2 - Black screens

Support for these games in the future would be very very much appreciated. Love your work man finally someone is making a PS2 emulator for Android.

[2015-06-18 10:15] ppssppios commented on #16
@jpd002 will be very intresting to see how the emulator works on iPad Air 2.

2 questions to @jpd002:

Is multithreading implemented?

If multithreading is implemented, how many cores can the emulator use?

Love your work!! Looking forward to next month

[2015-06-18 15:13] brujo5 commented on #16
People do not get your hopes up if the emulator is slow on android will also be slow in ios. This is not just a short-term project. Do not expect a functional build where they can start and end a game....no this year.

[2015-06-18 17:59] Fadi5555 commented on #16
@brujo5 I think you are an android user. You already get a build even if it slow.
So be proud and wait for more improvements. And we as an iOS user we should get the build like yours
Even if we get the slow result. it doesn't matter. We should feeling there is no different between we as iOS and you as android.
Step by step the project will go further and further to be more stable for all platforms

[2015-06-18 19:47] brujo5 commented on #16
No Android user here.
dolphin emu is on very mature state, still no ios port:(

this is an great project of curse but is not ready for ios. maybe when iphone 8 came out.

henrik ridgard (ppsspp) says ps2 port for ARM are pain. need at least few year develpment.

but well see. ..next ,month.

[2015-06-18 20:17] shakingboy commented on #16
@brujo5  This emulator already has an ARM port. Android and iOS both use ARM. What the iOS version doesn't have yet is a renderer and a refined JIT which will be similar to the Android one anyways. Also, it will need to play well with the rest of the code and code gen, dependencies, and other GUI/API stuff.

[2015-06-18 20:40] brujo5 commented on #16
@shakingboy

thanks for your explanation, as suggested by you sound promising.

[2015-06-18 20:40] Fadi5555 commented on #16
@shakingboy that's was I'm trying to saying.
Anyway maybe some people here have knowledge about this stuff but not like @jpd002 so from the beginning he doing this project to target all platforms including mobile platforms like android and iOS as well. So he know all this things more than anyone here. And he doing his best daily to make more improvements. There is no project start from high stabil

[2015-06-18 21:53] brujo5 commented on #16
@Fadi5555
I understand not worry after all are just different perspective comments. Time will tell if sooner than later.

[2015-06-19 05:27] jpd002 commented on #7
@paulaz2 Sorry, I can't guarantee that the emulator will run on a specific device (but from what I can see, it has a Mali 400, so I wouldn't have high hopes for it).

[2015-06-19 05:49] jpd002 commented on #7
I'm confirming that FFX will be playable on Android from the beginning in the next weekly build. It's quite slow and a bit buggy at times, but I was able to get to the first save point normally.

[2015-06-19 06:05] ghost opened #62 "Gregory Horror Show crashes Play! instantly"
This game has been proven to be quite the challenge to emulate, with PCSX2 still being unable to boot it or show anything for over six years since originally addressed. Would be impressive if someone could debug it in Play! and see the gist of why it won't work, and see if it could show anything eventually.

I think (not sure) it makes use of hardware quirks and the TLB, and PCSX2 as a LLE still h

[2015-06-19 08:54] ADormant opened #63 "PS2 Hardware Documentation"
I know it wouldn't be a trivial amount of work but could you @jpd002  consider writing a PS2 hardware documentation like the ones available for the PS1, GBA and DS? Perhaps in collaboration with the PCSX2 devs? Presently not many people understand PS2 hardware thus both Play and PCSX2 lack contributors.
I am talking about something like this
 https://github.com/simias/psx-guide/blob/master/guide.t

[2015-06-19 09:03] ADormant commented on #60
@bigianb Can this modification allow for things like texture replacement and per-pixel lighting? Maybe even 3D model replacement?

[2015-06-19 11:07] Leonidas2015 commented on #7
Great new and glad to hear there has been some great progress.

Just the graphics in general look great running ps2 on an android phone. I wonder how this will run when the Galaxy Note 5 comes out lol

[2015-06-19 21:15] bigianb commented on #60
@ADormant - yes that type of thing .. for specific games. Its a long term goal though - nothing that will happen soon.

[2015-06-20 02:41] HerPizzaFace commented on #27
Unfortunately there are still issues with FFX on the bridge ... the infamous "bridge issue." Just to give Play! a shot I started a new game of FFX and everything was going okay (albeit sound laggy and about 20-40 FPS), but it still crashes for me on the bridge when that Sinspawn creature is right about to shoot off the little guys before Tidus and Auron battle. It happened on the 64-bit version on

[2015-06-20 03:22] shakingboy commented on #62
I can't seem to be able to get the debugger working. I downloaded the one from purei.org that says version 0.26, and everytime I try and load any ISO image of a PS2 game it just crashes. Am I doing something wrong? Does the debugger need dependencies I am not aware of?

[2015-06-20 03:50] jpd002 commented on #62
Well, if it crashes right at the start, it might be hard to debug anything in the emulator's debugger. Are you able to build the emulator in VS2013? I'll probably start looking in handing off release builds with the debugger included so that everyone can debug.

Otherwise, I'll try getting the game, but it looks quite rare.

[2015-06-20 03:55] jpd002 commented on #27
@HerPizzaFace Sorry, I don't want to download an executable from a site I don't know about. Could you post the state file on another upload site please?

[2015-06-20 04:48] ADormant commented on #60
@bigianb Could it be made to work for all games or any game is going to need a specific hack? Dolphin and N64 emulators haven't got model replacement however their texture replacement and per-pixel lighting work for all games.

[2015-06-20 04:54] HerPizzaFace commented on #27
@jpd002 Sorry, that site has two links: one seems to be an ad and the one underneath is a plain zip.

Here's the same zipped file with all the state info at another site: http://www.filedropper.com/slus203121st0

[2015-06-20 05:13] ADormant commented on #63
Perhaps some PS2 wiki would be a good idea too. @jpd002

[2015-06-20 07:50] ADormant commented on #60
I also wonder if glitches like these http://forums.pcsx2.net/Thread-Blog-Explanation-of-why-hacks-are-needed-to-fix-upscaling-related-glitches can be fixed with those enhancements for PCSX2 needs hacks to counter them.

[2015-06-20 19:58] bigianb commented on #60
@ADormant It will be game specific. For the N64, nintendo provided the library to use the RDP/RSP (the equivalent of the VPU/GS combination in the PS2).  That meant nearly all games used the same libraries for the low level graphics and so it is quite easy to detect what calls are being used and high level emulate them. For the PS2, the situation was different - Sony provided no real high level li

[2015-06-20 20:46] ADormant commented on #60
@bigianb Hmm but Dolphin's GPU emulation is LLE and it can do texture replacement and per-pixel lighting fine for all games. Does Dolphin even use HLE functions for these features? With PPE it may be harder due to PS2 doing lighting calculations on VPU1 instead of the GPU like GC and Wii are doing. However texture replacement should work as long it can dump and reinsert textures.

[2015-06-20 20:54] ADormant commented on #60
http://gliden64.blogspot.com/2013/09/hardware-lighting.html
http://gliden64.blogspot.com/2014/11/a-word-for-hle.html

[2015-06-20 20:55] bigianb commented on #60
I've no knowledge of dolphin or Wii/GC so cannot comment on that. Texture
replacement without having some meta information about what the game is
doing on the PS2 though is pretty impossible (maybe not actually
impossible, but at least improbable). The texures are passed via DMA to the
GS and the geometry is generally passed via the VPU1 ... the 2 paths are
unrelated and so it's difficult to relat

[2015-06-20 20:58] ADormant commented on #60
@bigianb Then I presume N64 emulators are doing it the same way as Dolphin.

[2015-06-20 21:54] CristianTaveras opened #64 "App will not install on HTC One M7"
The emulator won't install on my HTC One M7. Is it a glitch or is it just that my phone isn't compatible with it?

[2015-06-21 02:18] jpd002 commented on #64
That phone should be compatible. What error are you getting when trying to install it?

[2015-06-21 02:31] jpd002 commented on #27
@HerPizzaFace Thanks for the state file. What happens on my side when I load the file, is Tidus and Auron just standing around looking at the building that's about to get hit. Is that what happens on your side too or are you getting a crash at that moment?

[2015-06-21 02:40] jpd002 commented on #58
Thanks for the report. Gonna get the game and see what's wrong with it.

[2015-06-21 02:43] HerPizzaFace commented on #27
@jpd002 Thanks for evaluating. It crashes when the Sinspawn (Sinspawn Ammes to be exact) is shown (an FMV occurs which fires off the little guys ... it never gets to that part, saying, "Play! has encountered a problem and needs to close."). But there seems to be an issue on my side ... after re-trying the save state, it appears to be stuck in a weird glitch where Tidus morphs into Auron's body, an

[2015-06-21 05:02] jpd002 commented on #27
@HerPizzaFace Yeah, I was able to get past that part. I've just uploaded a new weekly build (http://purei.org/downloads/play/weekly/) and also uploaded their respective PDBs to help us figure out the problem.

Could you send me a dump file of the process when it's crashed? (instructions here: https://support.microsoft.com/en-us/kb/931673) I'll be able to see where the emulator crashed using the PD

[2015-06-21 05:53] HerPizzaFace commented on #27
@jpd002 I don't think I can manage to do what you're asking unless you be more specific.

Do you want me to download the PDB file? And then what do I do with it? I understand the dump file bit when the program crashes, I think, but not too sure on the PDB or Visual Studio part (the debugger needs Visual Studio?). I guess I'll just send the dump when I try it again.

[2015-06-21 06:08] jpd002 commented on #27
@HerPizzaFace Well, if you don't have Visual Studio, don't worry about the PDB (Program Database). Once you send me the crash dump, I'll be able to use the both the PDB and crash dump on my end to see where the emulator is crashing.

[2015-06-21 06:10] CristianTaveras commented on #64
It says: There was an error parsing the package.
On Jun 20, 2015 10:18 PM, "jpd002" <notifications@github.com> wrote:

[2015-06-21 07:02] jpd002 commented on #64
Which Android version does your phone have? The emulator needs at least Android 4.4 to run.

[2015-06-21 08:54] jpd002 commented on #7
Latest weekly build is available (http://purei.org/downloads/play/weekly/) now. Should run a bit faster too due to some changes I did to compilation flags and division handling.

[2015-06-21 18:32] guanda80 commented on #7
Great news.
- Now FF_XII run until the start of game play. But need analog stick to go on.
- Disgaea work nice. Battles and saves OK.
- Dragon Quest 8 can save but freeze close at the start of game play.
- Radiata Stories continues just on black screen.
- Rogue Galaxy finally run :D
Freeze on game logo, but is a big step.

Awesome emu.

[2015-06-21 19:30] Evolution0 commented on #63
http://lukasz.dk/playstation-2-programming/archive/
http://lukasz.dk/playstation-2-programming/an-introduction-to-ps2dev/

Some stuff of note.

[2015-06-22 00:21] HerPizzaFace commented on #27
@jpd002 It's a pretty large file, but here it is: http://www.filedropper.com/play

Screenshots too:
![crash1](https://cloud.githubusercontent.com/assets/12665021/8274006/025d7894-1853-11e5-8b79-b9bf545e43f5.jpg)
![crash2](https://cloud.githubusercontent.com/assets/12665021/8274007/03a87d70-1853-11e5-9672-eac4e070f926.jpg)

[2015-06-22 00:49] asbel123 commented on #7
ps2 emulator is good on andriod u have wait next year see more progress i hope he can run tales of destiny on ps2 emulator andriod see if speed is good and beacuse english patch coming out next year too. everyone there a good emulator is reicast look at progress he can run one game perfect is grandia 2 on dreamcast on andriod it works perfect on my samsung galaxy s4 it better than pc version and p

[2015-06-22 16:18] paulaz2 commented on #7
@Jpd002 do you have a way that you can try the emu for me on injoo f2? And whats mali 400?

[2015-06-23 09:28] paulaz2 commented on #7
@gambrio could you please try rise to honour for me again with the latest build lets see if it gets to in-game ;)

[2015-06-23 10:05] Fadi5555 commented on #7
@gambrio please if you can make a test on crash bandicoot the warth of cortex & nitro kart
Also if you can make silent hill 4 also if you bring it on a video it'll be amazing.
Because the latest build has solved many bugs.

[2015-06-23 15:32] gambrio commented on #7
@Fadi5555 Crash still not working, and Silent Hill 4 stays on a black screen after memory card check.

@paulaz2 Still will not go in-game yet; it gets stuck when you press any buttons/input.

I think some of the issues might be related to the VUs as was noted with FFX-2 not going past the first battle, as there are many black screen hangs after intros & such so I'm thinking it could be all relativ

[2015-06-23 20:09] paulaz2 commented on #7
@gambrio hmmm dont know what to say what of god of war?

[2015-06-23 20:11] paulaz2 commented on #7
@gambrio tell me any tablet that will run this emu well apart frm nividia,nexus,xiomia pad

[2015-06-23 20:18] bobbymc1985 commented on #7
Im getting a nexus 9 soon.how much better will tht make me trying to play my games

[2015-06-23 22:54] ziiU commented on #16
It would be great to hear some input on this from @jpd002 himself. People here have mentioned that an iOS build will be similar to Android since both JIT can target ARM. Also, since they'd both use GL ES 3.0, it should also be similar. I am just curious on if it would really be this similar or easy to maintain both.

Obviously they are different platforms and such, but could the JITs and renderer

[2015-06-23 23:06] Fadi5555 commented on #16
@ziiU I think most of things between iOS & Android are similar. Also they sharing most of things like JIT Not sure.

if it takes more development and intention maybe it could be more stable than android build.

Because so far it still in initial commits.
But we really hope to see more progress on it.

Anyway @jpd002 has more knowledge to answer for your question like (is the JIT on android similar

[2015-06-24 03:28] jpd002 commented on #16
Yes, most of the code will be sharable between Android and iOS. The JIT is the same minus some adjustments for the ABI which is a bit different for both platforms. The GS handler should also be pretty much the same, using OpenGL ES 3.0 (even though OpenGL's future looks pretty bleak and we might have to switch to Metal on iOS if we want the latest graphic features).

[2015-06-24 04:20] Fadi5555 commented on #16
@jpd002 thank you so much for clear that for us because @ziiU is asking questions about that.
Also I already see some new progress on iOS port and that make me happy.
Nice job.
Please keep going and taking care about it.
I daily came here to see what's new on it.

Anyway I have a great news for you:
Finally the jailbreak is arrived for (iOS 8.1.3 to 8.3)
Because you said you waiting for it to do s

[2015-06-24 15:33] ppssppios commented on #16
A question to @jpd002

Does the faster "driver overhead" using Metal instead of OpenGL have any good effect on the emulator speed?

Using GFXBench i see that Metal gives 446fps offscreen compared to OpenGL 94fps offscreen comparing driver overhead.

It's obvious that Metal is faster but does it really have any effect on the emulator speed?

[2015-06-24 18:23] Evolution0 opened #65 "Detected backdoor in Play!"
Is this a false positive?

Backdoor.Bifrose is what it is detected as to be exact.

Running latest weekly build from the site.

[2015-06-25 02:07] gambrio commented on #65
False alarm ... Play! has no malicious code.

[2015-06-25 04:20] jpd002 commented on #27
@HerPizzaFace Thanks for the dump and screen shots.

I've looked at the dump and noticed that MSVCR120.DLL was located in the same folder as the emulator's executable. I don't know if you copied that file manually in that folder, but this might cause the problem you're encountering since the version of the DLL isn't good (screen shot shows version 12.0.21005 while latest version is 12.0.30501).

I

[2015-06-25 04:31] jpd002 commented on #65
@Evolution0 Which program is reporting the problem? I might be able to contact the company to make them whitelist the executable. There's no backdoor or anything of the like in the emulator.

[2015-06-25 04:38] Evolution0 commented on #65
Yeah I figured there wasn't, just wanted to at least report it.

Play.exe itself is being flagged by [MBAM](https://www.malwarebytes.org/) as malware the rest of the files are all clear.

SAS detects nothing as well as Avast.

[2015-06-25 05:05] HerPizzaFace commented on #27
@jpd002 Did exactly what you said and it still crashes at the exact same place.

[2015-06-25 06:23] jpd002 commented on #65
@Evolution0 Thanks for the info! I'll see with them to whitelist the executable.

[2015-06-25 08:45] jpd002 commented on #27
@HerPizzaFace Thanks for the feedback. On my side, I've also got MSVCR120.DLL in `C:\Windows\System32` which has version 12.0.21005 (and not 12.0.30501), so maybe the redistributable's version number isn't reflected there. In any case, the suspicious part was the file being present in `C:\Program Files\Play\`.

But since you're still getting the crash, the problem is probably somewhere else. I'll

[2015-06-25 10:19] jpd002 commented on #16
@ppssppios I think it should help because of the number of draw calls that need to be issued to draw the PS2's output (I've seen numbers up to 400). It's not the primary bottleneck though as rendering happens in another thread, so it might only be beneficial for some games. We'll see how it goes once we get more games running on mobile devices.

@Fadi5555 The iOS 8.1.3+ jailbreak is great news, I'

[2015-06-25 10:51] Fadi5555 commented on #16
@jpd002 nice job.

I'm happy and exciting as well to see the the pictures of iOS port.
Best of luck and we'll waiting for test it on our own.

[2015-06-25 11:22] zxcvbad commented on #7
FFX on SGS6 Edge, on the latest build https://youtu.be/GAuTrMLSDqk

[2015-06-25 21:05] brujo5 commented on #16
@jpd002

iOS screens, where??

[2015-06-25 21:21] seadil commented on #16
@brujo5 He'll post them tomorrow.

[2015-06-25 23:52] gambrio commented on #64
The newer HTC One M7 models come with KitKat or even Lollipop, so I don't think that would be the issue.

It could be the ROM it's using though, as I've heard of OEM ROMs that can have issues with certain .apks. If not that, it's possible that the annoying package parsing error could have to do with permissions/system settings.

[2015-06-26 00:21] CristianTaveras commented on #64
Really? I have set to allow apk to be installed from uknown sources. Is
there something else I could've missed?
On Jun 25, 2015 7:52 PM, "gambrio" <notifications@github.com> wrote:

[2015-06-26 00:59] gambrio commented on #64
Is it KitKat version or later?

[2015-06-26 01:00] CristianTaveras commented on #64
I checked and it appeaes my phone is on 4.1 still. Funny because my phone
tells me I have no updates either.
On Jun 25, 2015 8:59 PM, "gambrio" <notifications@github.com> wrote:

[2015-06-26 04:00] jpd002 commented on #65
I've reported the false positive: https://forums.malwarebytes.org/index.php?/topic/169754-false-positive-backdoorbifrose/

[2015-06-26 04:03] jpd002 commented on #16
Here's screen shots of plasma_tunnel.elf and torus.elf running on my iPhone 5S:

![imag0006_burst009](https://cloud.githubusercontent.com/assets/6760433/8370497/78924698-1b96-11e5-9f85-41af98257929.jpg)
![imag0005_burst004](https://cloud.githubusercontent.com/assets/6760433/8370496/789190d6-1b96-11e5-98e0-9dc33dd13010.jpg)

I've got some more issues to juggle with before I can release official wee

[2015-06-26 05:35] brujo5 commented on #16
@jpd002

Good work👍👍👍

[2015-06-26 05:40] Fadi5555 commented on #16
@jpd002 wow that's really amazing.

Everything got solve step by step don't worry i'm sure.

Other thing is this version of play! Which you already test it. Is it like an android version or not? And is it run commercial games like android or not?

Anyway you did a great job so we looking forward for the weekly build to test it on our own.

[2015-06-26 07:52] Evolution0 commented on #65
Updated database, rescanned, clean :+1:

[2015-06-26 07:52] #65 closed

[2015-06-26 08:12] jpd002 commented on #65
Great! Let's hope the same problem doesn't come up with a subsequent weekly build.

[2015-06-26 14:24] mainadmin commented on #7
HI jpd002, good news but with two issues.
First of all i want to say that my previous problem was resolved (if it existed at all) but dont know in what revision. Rendering on F60 works and i see playing demos.
1. issue is that it works only in horizontal mode. When keeping my phone in vertical position i see black screen only. What about automatic screen position change? IIRC ppsspp has it and it

[2015-06-26 17:40] shakingboy commented on #62
Hm ... I am sort of confused on compiling Play! with the debugger. I checked the code after cloning locally and I notice there's the debug tools all part of the Windows UI itself. Is the debugger disabled on purpose in release builds that are in the weeklies? If so, I would need to manually compile everything or change project settings to include the debugger? Sorry, but I have never used Visual S

[2015-06-27 00:02] gambrio commented on #64
System updates should be provided by the manufacturer/software company as necessary. If they don't provide them you can possibly root the device and install a newer ROM with 4.4+ Android support.

In any case, it's not working because it's using Jelly Bean.

[2015-06-27 08:59] n1dminhd opened #66 "Genji - Dawn of the Samurai : Nothing/crash"
start the game, then crash
Play ! (2015/06/26) 64 bit

[2015-06-27 10:15] jpd002 commented on #62
You can build a release with debugger version by changing the active configuration in Visual Studio:

![release_debugger](https://cloud.githubusercontent.com/assets/6760433/8391475/04a40304-1c93-11e5-8917-119d6ae0a1b3.png)

The debugger is not included in release builds because of it's overhead (nothing major, but still) and I need to do some changes before considering its inclusion in weekly buil

[2015-06-27 10:31] jpd002 commented on #54
Fixed FFXII's load game screen crash:

![ffxii_06](https://cloud.githubusercontent.com/assets/6760433/8391572/bed5c792-1c95-11e5-83e3-4cb97523ea10.jpg)

Still not able to load a game yet, but shouldn't be as much of a problem to fix.

[2015-06-28 04:50] jpd002 commented on #54
Fix for FFXII is now in master:

![ffxii_07](https://cloud.githubusercontent.com/assets/6760433/8395187/581064e6-1d2f-11e5-9e4d-09fa71b222c9.jpg)

It will be in tomorrow's weekly build. Game is pretty unstable though (can move around but casting a spell will screw things up).

[2015-06-29 03:04] jpd002 commented on #62
I've posted a debugger build along side today's weekly build : http://purei.org/downloads/play/weekly/PlayDebugger-20150628.exe . Just copy the file besides your emulator's installation in `C:\Program Files\Play\`.

[2015-06-29 03:06] jpd002 commented on #44
Closing for now because more information is needed to resolve issue. Feel free to reopen if you've got more information.

[2015-06-29 03:06] #44 closed

[2015-06-29 03:33] jpd002 commented on #63
@ADormant I like the idea, but yeah, that would be a crazy amount of work. I might consider starting a wiki in the future, but right now, my time is quite limited and I'd rather work on the emulator itself.

[2015-06-29 03:46] shakingboy commented on #62
Yeah, I can barely get anything out of the debugger with Gregory Horror Show, but I caught a list of functions before it crashed and there's very little else that can be managed since it crashes instantly:
![functionseegregoryhorroshow](https://cloud.githubusercontent.com/assets/12419067/8400596/42d06cc8-1def-11e5-8651-31cd58e64f33.jpg)
And the ELF data, but that's about it:
![elfdata](https://clo

[2015-06-29 04:09] SonofUgly commented on #54
Seems it doesn't like either the status ailments, characters, or areas my saves have because it ends up with a black screen, then crashing after loading a save. But all the memory card issues are solved, so this can be closed.

[2015-06-29 04:18] jpd002 commented on #62
Well if it's crashing, the only way to figure it out would be running the emulator inside Visual Studio. You can try attaching Visual Studio's debugger to the emulator's process before booting the game to see where the crash is happening.

Otherwise, I will be getting the game this week or next week, so I should be able to fix the crash once I get it.

[2015-06-29 04:23] jpd002 commented on #54
I used that save to do my tests: http://db.gamefaqs.com/console/ps2/save/final_fantasy_xii_j.max

I was able to move out of that area, but the game hung when I tried to cast a spell and the polygons got very screwy when I saw one of the characters cast a spell automatically. Fixing those problems is at the top of my TODO list.

[2015-06-29 04:24] shakingboy commented on #62
Alright, getting a bit more now with a few cutarounds but not much else:

![iodis](https://cloud.githubusercontent.com/assets/12419067/8400947/0fadcec0-1df5-11e5-9e7f-c9eb52015563.jpg)
![callstack](https://cloud.githubusercontent.com/assets/12419067/8400948/10703c30-1df5-11e5-9870-a381a40e97f1.jpg)

I guess I'll give your method a try, but it's going to be a pain to setup this emulator and compile

[2015-06-29 04:41] SonofUgly commented on #54
I'm getting black screen and crash with that save to. Here's a few saves in various areas, to see if it's just on my end:
[Save 1](http://www.mediafire.com/download/fo7f51zouhkqcoz/SLUS-20963_FF12_03_081_07_44_(6FA6D380).psu)
[Save 2](http://www.mediafire.com/download/kxabdo18r1xh979/SLUS-20963_FF12_04_081_08_51_(DF78D02B).psu)
[Save 3](http://www.mediafire.com/download/gvyur8051cw57ct/SLUS-20963_

[2015-06-29 04:59] jpd002 commented on #54
Tried the first save, seems to work fine on my side:

![ffxii_08](https://cloud.githubusercontent.com/assets/6760433/8401245/e05f4856-1df9-11e5-8f38-0c81f89a494c.jpg)

Are you able to start a new game and see Reks talk to Basch?

[2015-06-29 05:08] SonofUgly commented on #54
No, it crashes right after starting a new game.

Also, checked my ISO against redump, and it is correct.

[2015-06-29 05:39] SonofUgly commented on #54
Alright, here's dump files:
[Starting a new game](http://www.mediafire.com/download/3dgw4w5bb5936ty/Play_(New_Game).DMP)
Loading a game (Uploading...)

[2015-06-29 06:09] jpd002 commented on #54
Thanks for the dumps. The problems seems to come from an SSE 4.1 instruction I'm using which is possibly not supported on the Phenom II X2. I still need to confirm that, but if that's the issue, it shouldn't be a problem to fix.

[2015-06-29 06:13] SonofUgly commented on #54
Yeah it's not supported, Phenom II only supports:
SSE2, SSE3, MMX2, 3DNOW, 3DNOW2, SSE4a

[2015-06-29 06:27] ziiU commented on #54
Don't see what the purpose would be ... the AMD Phenom 2 X2 is very slow and would be terrible. I'm using an i5-4690K and the game works fine, but it runs barely 20 FPS & you can't even move because there appears to be no way of binding the analog sticks to the keyboard from the emulator's settings.

[2015-06-29 06:35] gambrio commented on #54
@ziiU This seems to be one way to help the JIT speedup & more games run fullspeed. -> https://github.com/jpd002/Play-/issues/39

[2015-06-29 06:35] SonofUgly commented on #54
Most 3D games with Play! are quite slow on it, so yeah I wouldn't go out of your way to add support for such old hardware - gotta draw the line somewhere.

Good to know what the problem was through.

[2015-06-29 06:38] jpd002 commented on #54
That problem is really easy to fix anyways, just a matter of detecting if the instruction is supported and selecting a different way to generate code.

[2015-06-29 06:39] ziiU commented on #54
I'm NOT suggesting to not bother with the extension support issues, but just making it clear that it's not the big concern with the the emulator not running games fullspeed on powerful CPUs (3D and 2D games). I'm just saying that, if high-end chips can't cut it as of now, older ones won't do any better.

@gambrio How would that improve the speed though? The issue doesn't seem to be with memory.

[2015-06-29 06:41] jpd002 commented on #54
@ziiU There's a large overhead associated with reading/writing data from/to RAM on the EE and IOP. Using system mapping will probably help a lot.

[2015-06-29 06:49] ziiU commented on #54
@jpd002 PCSX2 doesn't use system mapping in its dynamic binary translator and it can still manage to do well on mid-end CPUs for most games at least. Have you looked into PCSX2's dynarec or other means? Not to insult you or your work but maybe because it's more like a JITIL instead of just a JIT too?

[2015-06-29 07:03] SonofUgly commented on #54
I meant if it was a big deal, like if you heavily relied on more modern instructions for other things and this was the first of many issues from having only an older instruction set. Newer emulators have already dropped support, and this CPU is only going to get more outdated.
But if it's an easy fix, then disregard.

[2015-06-29 16:12] ziiU opened #67 "Unable to bind keyboard buttons to analog sticks"
So I saw the improvement with FFXII and dumped my copy to test, but after going in-game you need the analog sticks and I looked into the key binding menu and there was no way to bind or associate any keys with the analog sticks in the emulator. I am running it on Windows 7 Ultimate. The option to bind the analog sticks just says Unbound but every other key binding of the PS2 buttons works.

How do

[2015-06-30 04:50] jpd002 commented on #54
@ziiU I haven't looked into PCSX2's code generator, so I can't really say what makes theirs faster than Play!'s, but there's still many things that can be improved in Play!'s code generator. There's factors other than code generation that would also need to be taken in consideration if we'd want to do a proper comparison.

[2015-06-30 06:38] jpd002 commented on #67
Right now, there's no way to bind analog sticks to keyboard keys through the UI, but everything needed to do it is in the code already. I'll think of some UI that could work for binding keys to analog sticks.

[2015-06-30 08:32] paulaz2 commented on #7
@gambrio is jet li now able to go ingame?

[2015-06-30 09:05] Fadi5555 commented on #16
@jpd002 hi there.
Days ago I was watching you and all things which you added on iOS things and I was always checking on what is the new on your latest commits.
So I'm very happy because I saw many things on iOS stuff so I feeling happy with any commits or adding codes which is related on iOS.
So final thing you did is changing the readme file. And add iOS beside other platforms.
And that also make

[2015-06-30 09:16] jpd002 commented on #7
@zxcvbad Nice video!

@mainadmin Humm, I'm seeing that the F60's screen size is 480x800 pixels. It's possible that the emulator might be computing wrong values when the phone is held vertically since its pixel width is smaller than the PS2's output pixel width (640). I can take a look at that. The issue with the button sizes is probably also due to the device's small screen.

@paulaz2 I don't have

[2015-06-30 09:17] jpd002 commented on #16
@Fadi5555 You gotta thank @gambrio for mentioning iOS in the Readme :+1:

[2015-06-30 09:18] jpd002 opened #69 "Jet Li : Rise to Honor isn't playable"
Mentionned in #7.

[2015-06-30 09:21] jpd002 commented on #64
Closing this since the source of the problem has been found. Hope you find a way to update to 4.4+.

[2015-06-30 09:21] #64 closed

[2015-06-30 09:25] CristianTaveras commented on #64
Actually my phone is telling me that I don't have any updates and it claims
that I'm on the latest version.
On Jun 30, 2015 5:21 AM, "jpd002" <notifications@github.com> wrote:

[2015-06-30 09:28] Fadi5555 commented on #16
Oh yeah thank you so much mr @gambrio for mentioning iOS on the readme.
Also you @jpd002 you did all this thing so we all really grateful for all what have you did.

Last thing and please forgive my curiosity.
What's is the new situation on iOS port? And when we could see it in the weekly build.
I'm so so sorry for saying that many time.this is all that because of my excitement.

[2015-06-30 09:30] jpd002 opened #70 "Some games make the emulator crash due to absence of SSE4.1 CPU extensions"
CodeGen emits PMAXSD and PMINSD which are supported only on x86 CPUs that have the SSE4.1 extension.

Change CodeGen so that they don't use those instructions on CPUs that don't support them.

(reported in #54)

[2015-06-30 09:31] jpd002 commented on #54
Closing this as initial issue has been fixed. Opened a new issue for the SSE4.1 instructions.

[2015-06-30 09:31] #54 closed

[2015-06-30 10:34] paulaz2 commented on #69
@jpd002 Emmm isn't there any way you can make this game work but it also needs the right analog stick to fight

[2015-06-30 10:45] jpd002 commented on #69
Analog stick is being worked on : https://github.com/jpd002/Play-/tree/android_analog

[2015-06-30 13:11] paulaz2 commented on #7
@jpd002 do you have any cue if downhill domination is working? I would like to see a gameplay video of it if you can make it available?

[2015-06-30 13:27] paulaz2 commented on #69
@jpd002 I love your work keep it up keep on giving us hope...am sure ps3 emulator will be possible on android maybe 2020,that means on the next build we should be expecting the analog stick,what of the R1,R2,L1,L2?

[2015-06-30 13:35] paulaz2 commented on #7
@jpd002 what is the latest build capable of doing any improvement in running of new games or speed

[2015-06-30 14:24] fivefeet8 commented on #7
Is the current state of the emulator able to configure physical gamepads yet?  I have a Shield TV and touch controls are pretty much useless.

[2015-06-30 15:32] paulaz2 commented on #70
@jpd002 will you be ale to fix this easily?

[2015-07-01 02:43] jpd002 commented on #70
@SonOfUgly I've made a special build that fixes the problem: http://purei.org/downloads/play/weekly/Play-SSE41Detect-64.exe

[2015-07-01 03:28] SonofUgly commented on #70
Thanks, both new game and loading a save are working for me now.

[2015-07-01 03:29] jpd002 commented on #70
Awesome :+1: Thanks for testing!

[2015-07-01 03:29] #70 closed

[2015-07-01 03:42] gambrio commented on #69
It does work (meaning it can boot), but the screen freezes whenever you send any input, and, if you wait for the intro movie to finish (10-20 minutes), it just hangs on a black screen. It "works" but it isn't playable yet, and I'm a bit confused as to what the issue from my testing/debugging of it.

[2015-07-01 04:02] jpd002 commented on #69
@gambrio Thanks for the precisions, I've updated the title of the issue. I don't have the game yet, so I can't debug that problem right now.

[2015-07-01 08:57] paulaz2 commented on #7
Is tom and jerry fight for the whiskey able to get ingame? If so someone should post screenshots...

[2015-07-01 09:04] paulaz2 commented on #69
@jpd002 heres the link for the game http://www.emuparadise.mobi/Sony_Playstation_2_ISOs/Rise_to_Honor_(USA)_(En,Zh)/151184
and guys happy new month my friend also asked me to ask you that when will this emu have a stable version?

[2015-07-01 09:42] jpd002 commented on #7
@paulaz2 I will be posting information here when important improvements will come up.

@fivefeet8 Not yet. Once I finish touch controls, I will look into adding support for gamepads.

[2015-07-01 09:47] jpd002 commented on #69
Thanks for the information, but please refrain from posting links to copyrighted materials. I have bought the game and will be receiving it next week.

[2015-07-01 12:48] paulaz2 commented on #69
@jpd002 Ok thanks,i plan on buying the lenovo s8 tab any hope if play will work on it?

[2015-07-01 14:32] gambrio commented on #7
@paulaz2 I tested that one much earlier on and it worked then; now it works too:

![screenshot_2015-07-01-10-25-22](https://cloud.githubusercontent.com/assets/12025386/8456813/d0ee3df8-1fdb-11e5-898c-707ec6dac784.png)
![screenshot_2015-07-01-10-23-43](https://cloud.githubusercontent.com/assets/12025386/8456831/e883eeae-1fdb-11e5-8a33-12d580ae6a03.png)

If you can manage low FPS and minor graphics

[2015-07-01 15:02] Fadi5555 commented on #7
@gambrio thank you so much for making a test for us. That's really fun.

Please i really want from you to test haunting ground this is my wish for now.

[2015-07-01 16:22] paulaz2 commented on #7
@gambrio thanks men really appreciate you always test the games for me thanks for been there when it comes to testing this is so kul...
Add me on facebook so that i can add you to my group where we can talk about play!
m.facebook.com/azuka.chukwuma.16?ref_component=mbasic_home_header&ref_page=%2Fwap%2Fhome.php&refid=8
            OR
just add your self to the group
m.facebook.com/groups/74601227880

[2015-07-01 18:04] TheSilverShuriken commented on #7
How powerful will an android device have to be to run the emulator considerably well? of course im talking about when its more optimized

[2015-07-01 19:11] amer7 commented on #7
hi great work that really amazing ps2 on android i hope it get better in future ..

any way i test play! on my phone galaxy note 3 it work

one piece grand adventure .. intro only
Gradius V .. playable 8fps

you just need work on speed to make it better

[2015-07-01 20:02] bobbymc1985 commented on #7
Just tested red faction and timesplitters on my z1 compact.both boot up to main menu.red faction has a black screen after you pick new game and timesplitters freezes at the loading screen

[2015-07-02 09:46] jpd002 commented on #69
@paulaz2 Won't play it at the moment because the emulator isn't compiled for x86 on Android. I do need to get an x86 Android device to test on though.

[2015-07-02 20:32] HerPizzaFace commented on #27
Maybe if I give more info it'll help:

CPU: i3-4160 (AVX 2.0, SSE4.1/4.2, MMX, SSE3, SSE2, SSSE3, FMA, MMX, SSE).

GPU: Intel HD 4400 (although I'm pretty sure the GPU isn't the issue).

[2015-07-03 00:24] ghost opened #71 "No framelimiter..."
I would not consider this a serious issue but merely a slight enhancement that can be worked around to whenever the time comes in the future. I notice game speed will be improved with memory mapping so then would be good. Just a suggestion because if speed does increase, a super fast CPU will throw most games well over 100 FPS in some areas which is not accurate. Frame limiting will solve that iss

[2015-07-03 02:34] jpd002 commented on #62
Got the game today and after hacking in some things, I was able to get it to show something.

![gregory_1](https://cloud.githubusercontent.com/assets/6760433/8491590/1cf620a6-210a-11e5-9e26-41d7d045c8ce.jpg)
![gregory_2](https://cloud.githubusercontent.com/assets/6760433/8491589/1cf43b06-210a-11e5-9742-d3af64b08ce6.jpg)

Crash is caused by a weird transfer from IOP to EE through SIF that has a siz

[2015-07-03 02:39] jpd002 commented on #27
@HerPizzaFace Thanks for the info, I'll create a separate issue so that we can have all the information about this problem in one place.

[2015-07-03 02:40] jpd002 opened #72 "Emulator crashes in Final Fantasy X during intro"
Crashes when "Sinspawn Ammes" appears.

Reported by @HerPizzaFace in #27

Screen shots:
https://cloud.githubusercontent.com/assets/12665021/8274006/025d7894-1853-11e5-8b79-b9bf545e43f5.jpg
https://cloud.githubusercontent.com/assets/12665021/8274007/03a87d70-1853-11e5-9672-eac4e070f926.jpg

Hardware specs:
CPU: i3-4160 (AVX 2.0, SSE4.1/4.2, MMX, SSE3, SSE2, SSSE3, FMA, MMX, SSE).
GPU: Intel HD 4400

[2015-07-03 02:54] jpd002 commented on #27
I've fixed all of FFXII's instabilities I've encountered. I was able to play through the game's intro without issues:

![ffxii_09](https://cloud.githubusercontent.com/assets/6760433/8491790/2cdd6242-210d-11e5-9128-e82721f8b68d.jpg)

Fixes will be available in next weekly build (2015-07-05).

[2015-07-03 05:14] jpd002 commented on #67
I've made the simulated axis binding work again and added them in the default keyboard configuration: 1109a1c28f08b86e3b1ea283f2b6786a1a65fcf8

Still need to add a nice way to customize those binding though.

[2015-07-03 05:16] ziiU commented on #67
Thanks man. Any chance it could get in the next weekly, since you finished the input for Android too?

[2015-07-03 05:17] jpd002 commented on #71
Yep, that was on my TODO list. I'll be happy to fix it when it'll become a major issue :smile:

[2015-07-03 05:19] ziiU commented on #71
Yeah, probably something that could be looked into once better performance is imprroved.

[2015-07-03 09:10] jpd002 commented on #67
Don't know if the configuration part will make it for next weekly, I'm still unsure about the best way of doing this.

[2015-07-03 14:01] Fadi5555 commented on #16
@jpd002 I have an idea.
What do you think to release iOS build of play! in weekly build then try to developing it alongside other platforms. Because an iOS is the one of targets platforms to run play! on it.
I mean here to safe the time and to give you reports about it regularly.
So to be all together in development and see how to deal with that on all platforms.

[2015-07-03 15:24] brujo5 commented on #16
that makes you think you can play ?? I know seeing the status of many games, all have problems and are unplayable. time to time let him do his job quietly

[2015-07-03 16:15] Fadi5555 commented on #16
I know so far I can't play but i mean at least to give him our reports

[2015-07-03 19:05] ziiU commented on #16
@brujo5 All games are not unplayable ... have you seen the compatibility list? It seems outdated too, meaning some of the ones that say "loadable only" do work or some of the ones that say "nothing" show stuff like intros or menus/etc. Playable also is a vague term and depends on different opinions.

The emulator keeps improving, so games would have to be re-tested every now and then too.

Android

[2015-07-03 19:57] 716Girl commented on #27
@jpd002 By the way, how are you gonna improve framerate? What actually requires emulator to run fast even on low end pc?

[2015-07-03 20:25] Evolution0 commented on #16
Yeah not all games in the list have dates of when they were tested (also assume the weekly build closest to that date was used).

I always add a date when I test games but not every tester does this. Like you said quite a few games that both aren't listed and haven't been re-tested since a particular update could in fact be somewhat functioning.

After I reformatted the compatibility list I left a

[2015-07-03 20:40] ziiU commented on #67
Couldn't you just bind the directional axes to 8 diagonal/angular buttons and map them that way?

I mean you can measure the "dead zone" of the sticks simply by using timed releases/timed presses.

![8example](https://cloud.githubusercontent.com/assets/8388454/8504578/1113a2b6-21a2-11e5-9cf1-a66e85acace8.jpg)

The user could see an example of all axes like above and highlight the directions based

[2015-07-03 20:54] gambrio commented on #16
I know for sure that these are out of date on the Windows/OS X section:

Grand Theft Auto: Vice City (does show intro/menu screen at the minimum).

Kingdom Hearts 2 (list says that it shows nothing, but it does get to intros at least too).

I have all of these games and I'm going to test/re-test them on Windows and OS X to compare as well.

Since I have OS X, I might try and improve the OS X UI to

[2015-07-03 21:31] Fadi5555 commented on #16
Well thanks guys for telling that.
Actually you are all right. there is some games stuck on old date not on the new one? Maybe there is not that much of testers to do that or keep the list up to date. As you said guys play! Is improving regularly and every upcoming weekly bulids there is some new improvements for example some games was buggy and stop after intro only but now is become playable (in

[2015-07-04 03:01] jpd002 commented on #72
@HerPizzaFace From the looks of the crash dumps, it seems that an unhandled exception occurred, but there's no way to see where it happened. I've made a special build that will display a message box when an exception is caught:

http://purei.org/downloads/play/special/Play-HerPizzaFace-ExceptionCatcher.exe

So in theory, you should get a message box at the same moment you are getting the crash on

[2015-07-04 03:49] HerPizzaFace commented on #72
Okay, this is what it says:
![cantreadafterendplayffx](https://cloud.githubusercontent.com/assets/12665021/8506361/19ee012e-21de-11e5-91be-bf46d986e084.jpg)

[2015-07-04 03:53] jpd002 commented on #72
Thanks, I was not expecting that at all... You're playing from a ISO/BIN disk image?

[2015-07-04 03:53] gambrio commented on #72
Yes, ISO dumped right from the disc.

[2015-07-04 04:28] jpd002 commented on #72
Ok, I could reproduce the issue using a .BIN dump of the disk. Shouldn't be too hard to fix now that I can debug the thing.

[2015-07-04 06:46] paulaz2 commented on #69
@jpd002 So when is the next building coming out?
@gambrio why are you showing as a ghost?

[2015-07-04 06:48] paulaz2 commented on #69
@jpd002 what about the R1,R2,L1 and L2 buttons?

[2015-07-04 06:50] paulaz2 commented on #7
Can anyone help me check if downhill domination is working? Also i would like to get screenshots

[2015-07-04 09:48] jpd002 commented on #69
@paulaz2 Weekly builds are released every Sunday around 10PM EST. Shoulder buttons (R1/R2/L1/L2) will be in next build.

[2015-07-04 10:13] paulaz2 commented on #69
Thats cool,any idea of downhill domination is working? And i will like to get screenshots

[2015-07-04 10:50] jpd002 commented on #27
@716Girl Well, in the case of FF12, half of the frame time spend is in executing VU subroutines, so that would probably be a good place to start. The quality of the generated code can probably be improved a lot. There's also a couple of tweaks I'd like to do in the HLE code to improve speed (interrupt handling is quite dirty as it is right now).

[2015-07-04 10:54] jpd002 commented on #72
Not a problem with large file support after all, it's just that Win32's ReadFile (called by fread) reports an error when trying to read a file on a write-protected memory region (rather than triggering an exception that the emulator could catch).

Quite easy to fix and will be in Sunday's build.

[2015-07-04 19:58] HerPizzaFace2 commented on #72
Hey, my old account got deleted for some reason, but I made a new one.

How come if the problem wasn't experienced by you before? You mentioned in the other issue when I first brought this up that you got passed that part in testing. How come the issue didn't happen for you?

[2015-07-05 02:27] jpd002 commented on #72
@HerPizzaFace2 I'm testing games using ISZ files (UltraISO compressed disk images) for the most part and the crash doesn't happen because the protected memory is being written by user code (rather than a system call function) when using this compressed ISO format, which in turn causes the emulator's exception handler to be called.

The protected memory change is not so old (3 weeks ago), so people

[2015-07-05 02:36] jpd002 commented on #72
Fixed in c844eb3affe680978a417453337f58d8d03e3d2d

[2015-07-05 03:09] HerPizzaFace2 commented on #72
Thanks for the explanation and fix. I will definitely try it tomorrow from the save states I have.

[2015-07-05 05:42] jpd002 commented on #63
While not a direct documentation for the system, there's also https://github.com/unknownbrackets/ps2autotests which goal is to analyze the PS2's behavior using programs built to run on the actual hardware.

[2015-07-05 06:12] devilgoldy opened #73 "Android External Gamepad Support"
Make play with external gamepad support

[2015-07-05 10:05] jpd002 commented on #73
On which platform?

PC should already have support for gamepads.
I'm working on adding support for gamepads on Android.

[2015-07-05 12:40] devilgoldy commented on #73
Android  and put the larft and right analogue sticks

[2015-07-05 15:09] Fadi5555 commented on #69
@jpd002 today is Sunday and as you said you release the weekly build every Sunday.
I hope to see something good.
We really exciting to see what's the new things which will included on this weekly build.

Anyway I wish all the best for you.

[2015-07-05 19:13] ghost opened #74 "[SLUS21078] Budokai Tenkaichi 3 works, but has graphics issues!"
![play budokai3graphicsissues](https://cloud.githubusercontent.com/assets/13189357/8512984/a970eaba-2327-11e5-87a5-e8c8bf762d0a.jpg)

I can see shadows moving, but for some reason the models aren't being rendered in battle. Is there any word on this issue? It is Dragon Ball Z Budokai Tenkaichi 3. I do not know if this but I see other threads here talking about the game so I am think some users hav

[2015-07-06 02:44] itsmachotime commented on #16
Jesus christ @Fadi5555 shut the fuck up and let the man do his work in peace. You tattle worse than six barbers goddammit

[2015-07-06 02:45] itsmachotime commented on #16
You want to have this port so bad then go fucking learn programming and go help code it you whiney cunt

[2015-07-06 02:47] MisterHubs commented on #16
@itsmachotime Wow you are rude. No need to say that stuff to another person. He is not doing any harm and he even said that he would help with testing too, so that's helping at the very least.

[2015-07-06 03:39] jpd002 commented on #16
@itsmachotime Thanks for your concern. I'd rather work on the project instead of moderating people's comments, so please keep it civil. If you don't agree with @Fadi5555, that's ok, but no point in insulting him.

[2015-07-06 03:41] jpd002 commented on #74
Thanks for reporting. I can take a look, but I'll need to get the game first.

[2015-07-06 03:42] jpd002 commented on #73
Analog sticks are now in the latest weekly build (2015-07-05). External gamepad support coming next.

[2015-07-06 03:43] jpd002 commented on #66
Thanks for reporting. I'll take a look once I get the game.

[2015-07-06 04:54] Fadi5555 commented on #16
@itsmachoftime. Is that all you have on your first comment here?
I don't blame you. This is was your way to take to anyone which is you don't agree with him. You can be more polite And your comment will be respected too. So you think in your tiny brain this is the best way for talk to show others you are a (strong) man. Of course not you are a weaker and broken from inside so there is no one will

[2015-07-06 05:21] acocalypso opened #75 "Fonal Fantasy Dirge of Cerberus"
Hi I tried to play Final FantasY Dirge of Cerverus on Android.

The game starts with the sqaure enix logo and then the frame rate goes to around 30 fps and the screen stays black.

Logcat does not show any error.

Im using my Oneplus One with Cm 12.1 nightly

[2015-07-06 05:47] devilgoldy commented on #73
when play run game smoothly because current generation android phone have better CPU and GPU compare to ps2

[2015-07-06 05:48] devilgoldy commented on #73
also all gamepads support on play including six axis controller

[2015-07-06 05:50] devilgoldy commented on #73
ps2 gaming resolution also low compare to android games

[2015-07-06 06:44] OnijJoku commented on #7
Amer7 what's your Note 3's android OS? The FPS numbers fluctuate, but the screen stays black for Gradius V for my device.

![2015-07-06-02-31-09](https://cloud.githubusercontent.com/assets/13026658/8516927/a478736e-2388-11e5-9aed-1314d3bc3aac.png)

Here's the log for the emulator, I hope this helps.
07-06 02:27:38.885 W/Play!   (22211): onSizeChanged - 1080, 1920, 0, 0
07-06 02:27:38.895 W/Play!

[2015-07-06 07:12] Evolution0 commented on #73
@devilgoldy

And current PCs have more power than both the PS2 and android devices, emulating a system requires magnitudes more than the original hardware so that argument doesn't hold up.

The resolution *would* be low, its rendering it in native after all and even mobile devices have a higher resolution these days than what PS2 games render in natively. (Keep in mind PS2 = Pre-HD era) Some late

[2015-07-06 07:39] paulaz2 commented on #7
@jpd002 the analog stick should be at the buttom

[2015-07-06 09:03] devilgoldy opened #76 "key layout"
I suggest you to hide d pad and put the left analogue stick to d pad place and  put d pad on up and  because d pad is not really  important or many games or make hideable d pad

[2015-07-06 09:53] devilgoldy commented on #76
my first comment is wrong you should add a option for adjust the position of buttons  and when gamepad connect all on screen buttons are hide

[2015-07-06 09:58] mainadmin commented on #7
hEY @jpd002 Do you have a plan to impement multitrheading on win or android platforms? From what i know its hard to do this for ps2 but makes emu processing faster.

[2015-07-06 11:50] Evolution0 commented on #76
You can edit comments.

[2015-07-06 15:46] brujo5 commented on #16
@jpd002 I will pay $20 in cydia for an ps2 or dolphin emu, because it serves as motivation and not a waste of time for the developer. so we all win.

[2015-07-06 16:24] Fadi5555 commented on #16
@brujo5 I'm completely And ready to pay for that.
Specially dolphin emu because it completed project and already run win,Mac and Android.
Actually long time ago I talked with creator himself about getting a port of dolphin I think his name is (sonicavance) or something like that. And he said if someone interesting of iOS he could help him to release it. But himself he didn't want to do that alone.

[2015-07-06 16:30] paulaz2 commented on #7
Please anyone have any idea if downhill domination is working and i will like to get gameplay or screenshot

[2015-07-06 18:15] amer7 commented on #7
@OnijJoku android 5.0 n9005 4g

[2015-07-06 18:20] bobbymc1985 opened #77 "games testing-some results"
Hi i dont know if anyone has got the same results.so far ive tested timesplitters, timesplitters 2 red faction 2 and commandos 2. So far timesplitters 2 and commandos 2 do not load and have the black screen issue. Red faction loads up when you choose new game then it freezes with a black screen. Also timesplitters 1 freezes at the 1st loading screen. Hope these results help. Mite test others soon.

[2015-07-06 18:20] bobbymc1985 opened #78 "games testing-some results"
Hi i dont know if anyone has got the same results.so far ive tested timesplitters, timesplitters 2 red faction and commandos 2. So far timesplitters 2 and commandos 2 do not load and have the black screen issue. Red faction loads up when you choose new game then it freezes with a black screen. Also timesplitters 1 freezes at the 1st loading screen. Hope these results help. Mite test others soon.

[2015-07-06 18:21] #77 closed

[2015-07-06 18:22] bobbymc1985 commented on #77
Double submited by accident

[2015-07-06 18:32] OnijJoku commented on #7
@amer7 Thanks! I'm hoping it's a bug involved with 4.4.2; however, our models differ as well. The one I have is a N900A. I won't know until I make this change.

[2015-07-06 19:24] MisterHubs commented on #78
If you're just reporting game testing results, you can add them to the Wiki too:
https://github.com/jpd002/Play-/wiki/Compatible-games

[2015-07-07 00:48] brujo5 commented on #16
here is not like in android, ios we like to pay for things. hopefully encourage more developers and support jpd002 ios port.
or make reality an dolphin port for ios (my dream)..

[2015-07-07 03:30] jpd002 commented on #73
Added basic external gamepad support: a13a0fb98685eab2c590292deb41bc2aa6ff07ba. Will be in next weekly build. (2015-07-12)

[2015-07-07 03:45] jpd002 commented on #16
@brujo5 Thanks for your offer, but I can't accept money for this and there will be an iOS port whether or not people pay for it. I just need some time :smile:.

[2015-07-07 03:56] jpd002 commented on #72
Awesome! Glad it works! :)

[2015-07-07 03:56] #72 closed

[2015-07-07 10:42] paulaz2 commented on #69
So no one wana give me answer about downhil domination?

[2015-07-07 10:44] paulaz2 commented on #69
@jpd002 I Thought you said you will have the jet li rise to honor this week have you?

[2015-07-07 14:36] OnijJoku commented on #7
Gradius V seems to be playing now, including the demos! Thanks for the assistance. I'm more than glad to see a new PS2 emulator for pc and android. Keep up the great work!

[2015-07-07 15:09] brujo5 commented on #16
Ok but you can add donate button inside!.

[2015-07-07 15:44] Fadi5555 commented on #16
@brujo5 that's really kind from you to say that about donating.

I really like your interest about ios and it should taking care of any emu or project.
The developers really should attract to iOS platform.

My dear just imagine you have dolphin emu on your home screen. And you could play wii & game cube games on your device like android.
Actually is feeling very amazing.

But I really i ask myself

[2015-07-07 17:50] MisterHubs commented on #16
@Fadi5555 Dolphin already compiled for iOS, but it has bugs with the JIT so it won't play games yet. Someone needs to, with knowledge of the JIT, fix issues with addressable memory limitation on iOS since Android has no limit and iOS does, this causes issues that need to be fixed, but once they are fixed Dolphin should work and run games. It is not too much work, but nobody capable yet has tried t

[2015-07-07 18:04] paulaz2 commented on #7
@onijJoku can you help me try if downhill is working would like to get screenshots

[2015-07-07 18:06] MisterHubs commented on #7
@paulaz2 Downhill Domination works but gets stuck on loading screen (second picture below)
![screenshot_2015-07-07-13-53-21](https://cloud.githubusercontent.com/assets/13189357/8553412/492108f8-24b1-11e5-8a9e-12925e072a99.png)
![screenshot_2015-07-07-14-01-34](https://cloud.githubusercontent.com/assets/13189357/8553418/4faa1aac-24b1-11e5-8710-a173666c53f7.png)

So it is not playable yet it seem...

[2015-07-07 19:21] OnijJoku commented on #7
![screenshot_2015-07-07-14-52-57](https://cloud.githubusercontent.com/assets/13026658/8554822/f8099594-24b9-11e5-8b1b-ab264636f613.jpg)
![screenshot_2015-07-07-15-02-51](https://cloud.githubusercontent.com/assets/13026658/8554823/f809b146-24b9-11e5-8e7f-8b787d6cdd9a.jpg)

It's so close though!

[2015-07-07 19:32] Fadi5555 commented on #16
@MisterHubs really? How did you know the dolphin emu is compiled to iOS?
Can you give me the link of to see the progress about it. Because I' super exciting for see that.
Because this is our dream for long time.
I think the JIT is not that big issue but it really need to taking that seriously.
If they want to fix it the will fix it immediately.

Anyway thank you so much for telling that actually I

[2015-07-07 20:14] MisterHubs commented on #7
@OnijJoku Add it to the compatibility list under Android so we can keep track of the progress of the Android port and all the games it continues to run. How far does it go? In-game? Looks like it.

https://github.com/jpd002/Play-/wiki/Compatible-games#android

[2015-07-07 20:24] MisterHubs commented on #16
@Fadi5555 Hey Fadi, here you go: https://forums.dolphin-emu.org/Thread-dolphin-on-ios

The OP says he/she got it close to running but iOS is stopping it from using the JIT and it needs help. The thread is still open, so maybe you could drop them a bump post and see if anyone has more info.

It doesn't seem to be official though because the main developers are not actively supporting it, but if one

[2015-07-07 20:30] OnijJoku commented on #7
@MisterHubs I'm pretty new to this site's functions, but I'll try. Also, I'll have to get to that part again. I've noticed that this game freezes every time I make a screenshot. Dark Cloud didn't have this problem.

[2015-07-07 20:36] MisterHubs commented on #7
@OnijJoku Hi! If you can move past the title screens any characters/menus/etc., it should technically be in-game. It's very simple to add to the Wiki -- just copy the template and add the game name within the list tags (<li></li>) and the closing list tags (<ul></ul>) and follow the same bold rule format and specify the date and region of the game, including any notes. I thought it was hard, but i

[2015-07-07 20:50] OnijJoku commented on #7
@MisterHubs Greetings! Thanks, it wasn't a big deal like you said.

[2015-07-07 21:16] OnijJoku commented on #7
@MisterHubs On second thought, I'm not sure if I did it right... I hope I didn't do anything that messed the list up. Could you check it out for me?

[2015-07-07 21:42] MisterHubs commented on #7
@OnijJoku Seems like you did it right, but you added another section for US region, but the SLUS code already specifies that it's the US region of the game. Also, you added it in the OS X/Windows section but not on Android one underneath. Adding it to Android is the one you tested too, right? It can get there too.

[2015-07-07 21:54] paulaz2 commented on #7
@Misterhubs are you sure that problem is not from your rom?but well thanks Any hope if harry potter and the half blood prince is working where they graphic improvements?

[2015-07-07 22:01] OnijJoku commented on #7
@MisterHubs Oops! I overlooked that title! Also, I didn't know that what's the SLUS is. Thanks for letting me know. I'll fix this by trying Play! for pc. I'll based the updated compatibility on that; furthermore, I'll create the compatibility for android by copying what I mistakenly place under OS/Windows under "Android." My apologies!

[2015-07-07 22:27] OnijJoku commented on #7
It should be better now.

[2015-07-07 22:48] MisterHubs commented on #7
@paulaz2 ROM is fine. Could be my device (Shield K1), but I don't have any others to test with.

@OnijJoku Yeah, looks alright. The "going too fast" issue is mentioned [here](https://github.com/jpd002/Play-/issues/71), but it's not really a priority.

[2015-07-07 23:28] OnijJoku commented on #7
@MisterHubs I guess it is too early to implement the framelimitter. So, that too is harmless. Thanks for the help.

[2015-07-08 01:12] paulaz2 commented on #7
Guy is there control mapping now?

[2015-07-08 01:33] MisterHubs commented on #7
@paulaz2 Not customizable yet. Give it a little more time. I think the bigger priorities would be the speedup options, and general emulation improvement for more games to run.

[2015-07-08 02:24] paulaz2 commented on #7
I feel bad that one of my best title isnt working any idea if tab s 8.4 will work

[2015-07-08 03:21] jpd002 commented on #69
@paulaz2 Nope, sorry, I didn't get the game yet.

[2015-07-08 03:47] jpd002 commented on #75
Thanks for the report. AFAIK, it doesn't work on Windows either, but I'll take a look.

[2015-07-08 06:29] MisterHubs commented on #75
Correct, it goes no further than this on Windows
![play](https://cloud.githubusercontent.com/assets/13189357/8564342/f3fda76a-2518-11e5-8c59-222f96b44c89.jpg)
If you can see the faint Square Enix logo never completely fades away and it sits at a whopping 430 FPS.

[2015-07-08 08:08] Alulabxxx opened #79 "Odin Sphere Black screen"
I try to launch odion sphere on build 20150705 x64 but screen remain black. On S/F show some number

[2015-07-08 09:13] paulaz2 commented on #69
Ok now is downhill domination issue someone said its stuck on loading screen

[2015-07-08 11:59] zminhquanz opened #80 "Add Frameskip and Config Controller"
Please , add this

[2015-07-08 12:00] paulaz2 commented on #7
Sorry to disturb guys  is there sound on this emu now?

[2015-07-08 12:33] MisterHubs commented on #7
Sound works on Windows, but not Android yet ...and I am unsure about Mac.

[2015-07-08 13:11] OnijJoku commented on #7
Window PC: Evergrace

Intro:
![bandicam 2015-07-08 08-51-13-275](https://cloud.githubusercontent.com/assets/13026658/8570670/0473d128-2550-11e5-9ed6-8601e35472c0.jpg)

Title Screen:
![bandicam 2015-07-08 08-52-11-848](https://cloud.githubusercontent.com/assets/13026658/8570674/04794586-2550-11e5-8916-f7096261b0cc.jpg)
![bandicam 2015-07-08 08-52-29-507](https://cloud.githubusercontent.com/assets/1

[2015-07-08 14:09] OnijJoku commented on #7
@paulaz2 It looks good according to some sources: https://en.wikipedia.org/wiki/Mali_%28GPU%29

However, I'm not familiar with the reliability of GPUs, especially mobile GPUs. The only things I've seen with Mali was PPSSPP community talking about it's bugs with it.

[2015-07-08 14:47] TheSilverShuriken commented on #7
I tried playing Dbz Bt3, i can get fps but i just get a black screen. I jave a Galaxy S4 btw, so is it my phone or the emulator not fleshed out yet?

[2015-07-08 17:46] MisterHubs commented on #7
The phone, because I tried that game and it does work (Windows and Android) and the only issues are with duels because characters don't show and only shadows, but it does startup and work.

It seems the emulator doesn't work correctly on every device though.

[2015-07-08 18:11] adriandennis17 commented on #80
all in due time...just be patient.

[2015-07-08 18:21] adriandennis17 commented on #78
the emulator is still in beta stage..and many games if not all won't run. depending on your device you might get to the intro and main menu if your using a high end device, if your using a low end device then black screen is very common..best to add your game test results to the wiki page.

[2015-07-08 18:32] adriandennis17 commented on #76
@devilgoldy the emulator is still in beta stage and that option can be added anytime as it continues to build and get better.

[2015-07-08 18:44] TheSilverShuriken commented on #7
Misterhubs have you tried The Hulk Ultimate Destruction? And tell me if it works?

[2015-07-08 18:46] MisterHubs commented on #78
@adriandennis17 I believe it's still "alpha," but even so there are more than 20 known games that are in-game on Android & I don't think high-end/low-end device matters with games working or not.

^This is only from about 60 or so games tested, and there are over 2,500 on PlayStation 2, I think.

I think the bigger thing is with the drivers and how they implement GL ES 3.0 maybe.

[2015-07-08 19:00] adriandennis17 commented on #78
@MisterHubs High/Low ends device does matter games that some report with black screen i tested on my device and i actually got to in game..it's the same with PPSSPP and even though ppsspp has gone a far way in terms of development if your using a high end device some games will not run at 100% speed..

[2015-07-08 19:37] MisterHubs commented on #78
@adriandennis17 It would matter in terms of performance and future optimization potential maybe, but not in games showing black screens, as that has little to do with much besides the drivers and possibly the chipset and such. The driver would need to be good enough for the GL ES 3.0 stuff.

But we are getting off-topic here I think.

[2015-07-08 19:44] adriandennis17 commented on #78
hmmm i get yah..and yeah getting a bit off-topic. peace ☆

[2015-07-08 20:01] paulaz2 commented on #7
Incredible hulk would be more fun if its working

[2015-07-08 20:10] OnijJoku commented on #7
Android: Evergrace

Opening:
![screenshot_2015-07-08-09-06-20-1](https://cloud.githubusercontent.com/assets/13026658/8580946/89144fbc-258b-11e5-89ef-9b5ab6abc0dc.jpg)

Title Screen:
![screenshot_2015-07-08-09-08-13](https://cloud.githubusercontent.com/assets/13026658/8580947/89149c56-258b-11e5-9225-33d0ac8c9398.jpg)

Gameplay:
![screenshot_2015-07-08-09-22-22](https://cloud.githubusercontent.com/a

[2015-07-08 20:56] MisterHubs commented on #7
@paulaz2 @TheSilverShuriken Tried Incredible Hulk and it doesn't work yet.

[2015-07-08 21:43] LinkofHyrule89 opened #81 "Full Android TV Support"
At the current time there isn't an Android TV specific interface and because Android TV doesn't have a menu button there is no way to change any of the settings. It would be preferable to have a box art based file picker similar to how PPSSPP has theirs setup. Full controller support up to however many controllers the original PS2 supported is also needed.

[2015-07-08 21:56] LinkofHyrule89 opened #82 "Android x86 Support"
Several devices such as the Nexus Player are x86 and would do much better if they had Android x86 based builds instead of using the same builds as arm. Although technically the x86 version of Android is capable of running the same apps having a separate x86 version solves problems and keeps things more optimized.

[2015-07-09 00:12] adriandennis17 commented on #81
is this a feature request ?
the emulator is still in early stages and some device's are not supported
features will slowly be available and more device's will be supported
as the development continues..at the moment their's only one dev..so you just have be patient.

[2015-07-09 00:14] LinkofHyrule89 commented on #81
I know I already talked to the developer about this I posted this purely to be on the issues list so people know it's on the roadmap. But as far as things go it's something that needs to be worked on early in development because otherwise it will be more of a hassle to go back and redesign. - Matthew Garbett

[2015-07-09 00:19] adriandennis17 commented on #81
oh..didn't know it was you matt..k.

[2015-07-09 00:51] zminhquanz commented on #82
I know , PCSX2 on Windows it written on x86 Artitecture , it Play! written on x86 from port similar code PCSX2 to , it's optimize and capability better than ARM Artitecture

[2015-07-09 01:11] MisterHubs commented on #81
Speaking of a roadmap, wouldn't it be effective if there actually was one jotted down in the Wiki?

[2015-07-09 01:59] pizzamaker opened #83 "Add to F-Droid"
Please help add this app to F-Droid!

A thread for it has been created at https://f-droid.org/forums/topic/play-playstation-2-emulator/

[2015-07-09 04:19] jpd002 commented on #82
Shouldn't be an issue to port to x86, but still waiting for hardware to test on my side.

[2015-07-09 06:09] MisterHubs commented on #38
Is the debugger not already added? At least on Windows it is part of the weekly, so isn't this resolved?

[2015-07-09 09:01] paulaz2 commented on #7
@MisterHubs what about superman returns and harrypotter and the half blood prince?

[2015-07-09 10:44] Flav900 opened #84 "Android version case sensitive to file extensions"
The android app only detects file extensions in lower case.

I've noticed with myself and other people have the issue that their file extension is .ISO and not .iso which leads at first to some confusion as to why the app does not pick up the file.

Request to change the following lines in android ui MainActivity.java from:

private static boolean IsLoadableDiskImageFileName(String fileName)
	{

[2015-07-09 16:25] OnijJoku commented on #7
Window PC - Orphen: Scion of Sorcery
![bandicam 2015-07-09 12-19-21-736](https://cloud.githubusercontent.com/assets/13026658/8600677/23cfdd24-2635-11e5-8ab4-ae474e821c87.jpg)

Android - Orphen: Scion of Sorcery
![screenshot_2015-07-09-12-13-43](https://cloud.githubusercontent.com/assets/13026658/8600676/23cf09bc-2635-11e5-888d-4e3c8e6bca67.jpg)

Both tries freeze at the Activision logo...

[2015-07-09 17:41] OnijJoku commented on #7
@paulaz2 I've tried both and they seem to be loadable with FPS, but shows nothing.

[2015-07-09 17:50] OnijJoku commented on #7
![screenshot_2015-07-09-13-43-08](https://cloud.githubusercontent.com/assets/13026658/8602642/5fcacd50-2641-11e5-9962-4f868d40dfd7.jpg)
![screenshot_2015-07-09-13-45-25](https://cloud.githubusercontent.com/assets/13026658/8602644/5fce516e-2641-11e5-8c40-b487c086fc41.jpg)
![screenshot_2015-07-09-13-45-57-1](https://cloud.githubusercontent.com/assets/13026658/8602643/5fce14c4-2641-11e5-83e1-0a9a1b10

[2015-07-09 18:51] MisterHubs commented on #7
@OnijJoku That would be "Menu/Title screen only," but I think you got the gist of it. It probably crashes because it tries some strange hardware operation/function that Play! isn't doing correctly/differently/etc.

[2015-07-09 18:52] acocalypso opened #86 "[Request][Android]Debug Logger"
Could you add a debug logger for android and write the error logs, warning etc to a logfile on internal/sdcard.

I think this would be very helpfull for fixing bugs.

[2015-07-09 19:06] paulaz2 commented on #7
What about restident evil dead aim,pes 2014,king arthur,guns,all harry potter series?

[2015-07-09 19:59] paulaz2 commented on #7
Guys i need link to your facebook profile so that i can add you and also add you to my group

[2015-07-09 21:01] MisterHubs commented on #7
@paulaz2 Resident Evil: Dead Aim crashes Play! It is missing instructions to support it, but not sure which. You can open an issue mentioning these details so @jpd002 will know what to look for when he gets the chance to check the game. I'm not savvy enough to know in full, but I managed to catch an exception stating that there are unimplemented instructions, so investigation would need to find wh

[2015-07-09 21:06] adriandennis17 commented on #84
@Flav900 good job..

[2015-07-10 00:55] MisterHubs commented on #62
Other games are in the same boat of not responding to input either, so perhaps any changes to the IOP would help games like Animaniacs: The Great Edgar Hunt, Destroy All Humans!, and some others that do boot but don't respond to any input for some reason. Will keep a close look on any IOP changes.

[2015-07-10 03:47] jpd002 commented on #84
@Flav900 Good one, thanks for spotting this and fixing it! It'll be in the next weekly build (2015-07-12).

[2015-07-10 03:57] jpd002 commented on #62
@MisterHubs Yeah, it's one of the biggest problems of the emulator right now. IOP HLE support is a bit flaky at the moment (thread scheduling is wrong, some missing kernel features, etc.)

[2015-07-10 04:05] jpd002 commented on #38
@MisterHubs I would still like to have the debugger in the release build at some point instead of having a separate build for that purpose.

[2015-07-10 04:08] MisterHubs commented on #38
@jpd002 Ah, I get what you mean now, yeah.

[2015-07-10 04:08] jpd002 commented on #7
@MisterHubs If you give me the crash address and opcode, I can try to implement it even though I don't have that game ATM.

[2015-07-10 04:12] jpd002 commented on #81
@MisterHubs Good idea, I'm going to add a roadmap page, should help people see where the emulator is heading.

[2015-07-10 04:13] LinkofHyrule89 commented on #81
It's always a good idea to have a roadmap of where things are headed. Maybe other developers will want to help with the project and work on different parts of it.

[2015-07-10 05:42] LinkofHyrule89 commented on #81
I submitted two patches to help get this started keep in mind I don't have things setup to compile so you'll have to test the patches but one is just an image and the other is simply to get the app to show up on the Android TV Leanback Launcher. I made a temp banner by using the icon as a base it's probably pretty terrible but gets the job done for now.

[2015-07-10 06:40] Flav900 commented on #84
No problem! Thanks! Glad I could be of help.

I'm thinking the IsLoadableExecutableFileName method needs the same treatment for the .elf extension. I overlooked that by accident.

[2015-07-10 10:28] zminhquanz opened #89 "Add Dynamic Recompiler to improve speed emulation"
add Dynarec ( JIT ) Recompiler to compile from ARM , x86 to target Core on Playstation 2 is EmotionEngine , IOP , 2 Vector Unit

[2015-07-10 13:38] OnijJoku commented on #7
I hope this won't get in the way.

Trapt
![screenshot_2015-07-09-19-55-15-1](https://cloud.githubusercontent.com/assets/13026658/8619714/2f288434-26e7-11e5-96bf-2b0afadba4d1.jpg)

RPG Maker 2
![screenshot_2015-07-09-20-41-55](https://cloud.githubusercontent.com/assets/13026658/8619713/2f25eca6-26e7-11e5-9836-9fd26ea8aee9.jpg)
![screenshot_2015-07-09-20-51-01-1](https://cloud.githubusercontent.com/

[2015-07-10 13:59] Fadi5555 commented on #89
I think this is a good I for enhancing the speed for emu.

The ppsspp is already use it. And the results is fantastic.

Also if they could add (non-buffered)
This is to makes games looks super sharp and clear and full HD
Also fast mem will help for males ges speed up.

Also if they makes

[2015-07-10 14:08] bigianb commented on #89
I don't understand what this issue is about. Play uses a recompiler - it does not have an interpreter. Of course even if it didn't the aim is to covert MIPS IV variant instructions to arm or x86, not the other way around as specified above. I'm also confused about what non-buffered or fast mem means in this context. Maybe they are implementation details of some other emu - in any case I don't thin

[2015-07-10 14:33] LoungeKatt opened #91 "Source structure"
Have you considered making a root project and adding the individual projects as submodules?

This would allow you to sync the entire project (including directory structure) and set the external makefiles to relative paths. It would eliminate the entire manual setup because you could also call the builds in sequence from a master build script.

As a side note, the build appears to have a specific o

[2015-07-10 16:28] LoungeKatt commented on #86
Rather than polluting the filesystem, it would be much better to have the emulator write to the logcat and (if desired) provide an option to print those logs on demand.

Writing to a file during operation means adding an obscene delay to constantly check for the file, open the file, write to the file, close the file, etc. Not to mention not every user wanting every log and having to track them dow

[2015-07-10 16:43] adriandennis17 commented on #89
@bigianb your right, the the implementation details are from "PPSSPP" @Fadi5555 just because it works for that emulator doesn't mean it will work for "Play!" .

[2015-07-10 16:58] Fadi5555 commented on #89
@adriandennis17 aha got your point
Well I mean if anything like that could be help for making the games speed up as well as a feature for making games looks in full hd.

Anyway step by step the project will be more stable and fast as well.

[2015-07-10 21:39] acocalypso commented on #86
Yes you are right. But the option to write the log information to logcat is a good idea to think about

[2015-07-10 21:41] paulaz2 commented on #7
What about 50 cent bulletbroof working?

[2015-07-11 04:35] jpd002 commented on #89
As @bigianb mentioned, Play! already uses a recompiler.

I'm working on some speed hacks that will improve emulation speed on some 2D games and demos significantly (https://github.com/jpd002/Play-/tree/speedhack_test). As for 3D games, most of the time is spent executing VU code, which is quite heavy, but there is some optimizations that can be done there to improve speed.

[2015-07-11 04:35] #89 closed

[2015-07-11 04:52] jpd002 commented on #69
Added some missing instructions and the game goes a bit further:

![jetli_1](https://cloud.githubusercontent.com/assets/6760433/8632392/0c3ecc0a-2767-11e5-977d-3ccb64ed59f3.jpg)
![jetli_2](https://cloud.githubusercontent.com/assets/6760433/8632393/0c4127d4-2767-11e5-8c04-2fde1f5c8674.jpg)

There seem to be an issue with collision detection though as characters are going through the floor.

[2015-07-11 10:23] paulaz2 commented on #69
@jpd002 its buggy but nice work..i thinks its graphic issues bufferred or non-bufferred rendering might help just like ppsspp,but this is not ppsspp its PLAY! And i know ps2 emulation is hard...how about trying to add frameskipping to the emulator that might help,so what do u thinks is the problem with this game?

[2015-07-11 10:28] paulaz2 opened #93 "Restident evil dead aim"
@jpd002 MisterHubs said that restident evil dead aim crashes the emulator what could be the problem?

[2015-07-11 19:06] MisterHubs commented on #93
It crashes due to an unimplemented instruction(s), it seems, but I can't determine which since I just used an exception catcher, so someone more competent than me will have to get the game and test/analyze the issue, or wait until I can manage to find the exact instructions, but I still can't update the JIT anyways.

[2015-07-11 20:57] brujo5 commented on #16
impresed
Shadow Hearts is playing pretty much perfectly now
https://www.youtube.com/watch?v=5ZFthM5TIz0

hey guys let us make note here, we need a port https://forums.dolphin-emu.org/Thread-dolphin-on-ios

[2015-07-11 22:16] Fadi5555 commented on #16
@brujo5 wow this looks pretty good on your mobile.
I really like all your videos on YouTube.

Please can you make a video on (Haunting Ground) I really want to see it.

About the ios port of dolphin this is really fantastic but as you see there is no developers care about it.
This is also my dream to run dolphin on iOS devices.
But I really hope someone to help that interest developer who is calle

[2015-07-11 22:52] brujo5 commented on #16
@Fadi5555
The YouTube video is not mine. Someone posted in ppsspp forum (offtopic).

This guy is amazing hopefully it will help us @rock88 he port ppsspp and nds4ios but lately it is busy!.

[2015-07-11 23:06] Fadi5555 commented on #16
Oh sorry. I thought it's yours.
Because I alwa see his videos.

Other thing. When do you think we will see the iOS port in the weekly builds?

[2015-07-12 13:20] matt12eagles commented on #16
Hi Jpd002, what is the status on the iOS weekly builds?? Are there any pain points currently holding back the alpha release?? I would like to begin investigating those first. Also I have my Xcode development machine ready to go. I will load the project later on. I am very new to GitHub... So pushing / suggesting changes may take a little while to get used to.

[2015-07-12 19:16] MisterHubs commented on #83
Possibly relevant: https://f-droid.org/wiki/page/Inclusion_How-To

[2015-07-12 21:13] prafullpcsx2 commented on #62
@jpd002 fixes to this game have been merged yet? It still crashes for me.

[2015-07-13 02:36] jpd002 commented on #84
Thanks, your fixes are in this week's build (2015-07-12).

[2015-07-13 02:36] #84 closed

[2015-07-13 03:02] jpd002 commented on #62
I haven't merged the fixes in the master branch yet because there's some hacks in there. But here's the branch with the needed changes for the games: https://github.com/jpd002/Play-/tree/gregory

[2015-07-13 03:04] throwaway2222 opened #96 "Any possible fix for Dark Cloud's garbage graphics?"
Game appears to be very playable and speeds aren't too bad on my i5-4570 (15-50 FPS), but the real issue is strange graphics issues making it really hard to navigate around because you can't see where you're going. It took about 5 minutes to enter the house because I couldn't see it:
![botchedgraphicsdarkcloud](https://cloud.githubusercontent.com/assets/13307235/8641855/5bb3dfd6-28e9-11e5-9bfe-096

[2015-07-13 04:39] jpd002 commented on #16
@matt12eagles Only thing preventing me from releasing a iOS weekly build is the file picker. I'll try doing that this week.

[2015-07-13 04:52] jpd002 commented on #82
I've added x86 support in the latest weekly build. Works fine on my Lenovo S8-50 tablet, but we still need to figure out issues that occur on Nexus TV Player. @LinkofHyrule89 provided some info, but it's still unclear and more testing will be needed.

[2015-07-13 05:04] Fadi5555 commented on #16
@jpd002 that's great. Nice to hear that.
Looking forward to it.
Also I hope all your works and improvements about this project will become easy.
Keep going

[2015-07-13 06:41] Flav900 commented on #84
No problem! Awesome! Thanks!

[2015-07-13 07:01] paulaz2 commented on #7
Whats new in the new weekly build?

[2015-07-13 07:03] paulaz2 commented on #69
@jpd002 will the latest version be able to run jet li rise to honor well?

[2015-07-13 07:11] jpd002 commented on #69
@paulaz2 Nope, it's still broken at the moment. I don't think frameskipping will do much since rendering isn't the bottleneck

[2015-07-13 07:25] paulaz2 commented on #69
@jpd002 At first during the intro this game was running 22 f/s then when it got to in game it was running 12 f/s,what does this mean?

[2015-07-13 08:56] hyakki- opened #97 "Galaxy Tab Pro 8.4 - Black Screen"
Tried several games and even though I see F/S and dc/f moving (currenlt 4 /fs 127 dc/f)
I am getting no graphics, I tested known compatible games like ff10, ff10-2 , FF12 , my images are in iso format and are good since they work in pcsx2..

So I don't know if its an issue with my device or what, it has a snapdragon 800 / adreno 330 gpu

I even tried GLTools to emulate other card but to no avail.

[2015-07-13 12:35] zminhquanz commented on #97
The Emulator is alpha test , and not Compatibility on all Android device because there a lot of processor from ARM and Intel x86

[2015-07-13 12:36] zminhquanz commented on #82
@jpd002 , not working on ASUS Zenfone 4 , Intel Atom Z2520 , game is black screen

[2015-07-13 16:14] LinkofHyrule89 commented on #82
@zminhquanz this doesn't give us enough information because every game reacts differently and most games take a while to start.

[2015-07-13 17:09] lifeiseternal opened #99 "Xiaomi mi4"
I'm beta testing Play on Xiaomi Mi4(Snapdragon 801,Adreno 330),i tried with many games like Gradius V that result in the list of playable games but the screen remains Black,FPS arrive to 25/30 and Dc/f to 110/170 but also after several minutes nothing happens.

[2015-07-13 17:20] lifeiseternal commented on #7
I tried with many games(including Gradius V) on Xiaomi Mi4, FPS move to 25/30 but the screen remains black also after several minutes.

[2015-07-13 19:02] OnijJoku commented on #7
@lifeiseternal Greeting! Unless you did upgrade your device to Lollipop, it's most likely KitKat's fault... I decided to downgrade back to 4.4.2 because I wanted to try to get Lollipop a different way. The one I tried was slightly buggy. Now on 4.4.2, I'm trying it again to be certain and it looks like that's the culprit. You will either have to upgrade the device to Lollipop just to see if that's

[2015-07-13 19:12] lifeiseternal commented on #7
@OnijJoku thank you very much for your answer, my smartphone has its custom Rom called MIUI and it is based on Kitkat 4.4.4 so probably you are right.
I will wait for a new update, thank you very much.

[2015-07-13 19:39] MisterHubs commented on #7
I tried KitKat that comes natively on the Xiaomi Mi Pad and Play! had no issues running compatible titles.

[2015-07-13 19:52] LinkofHyrule89 commented on #86
I know some of the logs are automatically collected and sent to the developer via the Google Play Developer Console. He just added official Android TV support so those devices should be sending logs to him as well.

[2015-07-13 19:54] LinkofHyrule89 commented on #91
I think that this would definitely be a good idea. I've talked to the developer about getting the project ported to Android Studio and Gradle and from what I understand Gradle is a very useful and diverse system that can be used independent of Android Studio.

[2015-07-13 19:55] LinkofHyrule89 commented on #81
Basic Android TV support has been added however there is still no way to access the options on Android TV at least not on the Nexus Player. I've made the developer aware of this issue but just wanted to relay the information here.

[2015-07-13 20:02] lifeiseternal commented on #7
@MisterHubs actually I knew that MiPad was compatible with Play but it uses nvidia tegra and at a first time I thought that this was the problem.
I'm not an expert but my Rom is updated to the last realize of MIUI V6 and I have no problem with any other App or emulator.

[2015-07-13 21:05] hyakki- commented on #97
yeah I know, let me know if you need any info to get it better supported (or does the emulator only support x86?)

The Adreno 330 should support OPENGL ES 3
https://en.wikipedia.org/wiki/Adreno

[2015-07-13 21:16] LoungeKatt commented on #91
It is also a PITA to configure and maintain.

https://github.com/AbandonedCart/Play-Emulator is all it would take. It is less of a full conversion to another build system and more just linking the projects together.

[2015-07-13 21:17] LinkofHyrule89 commented on #91
Well anything to make them more unified is a step in the right direction. It took me a while to even get the thing setup to compile lol.

[2015-07-13 22:03] Abz1 opened #101 "Tetris Worlds & Crash Bandicoot: Wrath Of Cortex, stay on black screen."
Both the games that i mentioned above, only stay on the black screen.

[2015-07-13 22:10] seadil commented on #101
On what device and which version did you test?

[2015-07-13 22:17] Abz1 commented on #101
I tested this on a Motorola RAZR I x890, and on the latest version.

[2015-07-13 22:47] adriandennis17 opened #102 "Back Button, Bug"
Play!: Build 2015/7/12

Upon launching Play! if you should press the Return (Back) key, it seems to crash the app
with the new exit option, i think the return key would have the function to exit the app,
but probably wasn't coded properly..

Device: S4 (GT i9505)

[2015-07-13 23:01] Thunder07 commented on #102
@LoungeKatt probably need to kill the virtual machine 1s?

[2015-07-13 23:22] Thunder07 commented on #91
I agree on the use of submodules, it would make life so much easier, to begin with.

why don't you like Gradle/Android Studio @LoungeKatt ?
while I don't actually mind the current method, Google are slowly adding ndk support to studio which should come in handy.
http://tools.android.com/tech-docs/android-ndk-preview

[2015-07-13 23:37] Thunder07 opened #104 "Android: Navigation"
is there much point being able to navigate beyond the /sdcard and into root directory?

[2015-07-14 00:19] LoungeKatt commented on #91
It would be one thing if the emulator were fully functional and you switched to a new system, but is it really worth trying to get the thing running with beta-quality tools?

They released Android L as a preview and it worked to get an idea of how it worked, but I wouldn't have gone hiking in the woods during bear season with that being my firmware.

[2015-07-14 00:27] Thunder07 commented on #91
well, no and I only referenced the preview to give prospective of future benefits.
as it stands now though, Android Studio would provide a graphical interface for editing the Emulators UI and thats as much benefits as it brings to the table.
though from the looks of it and unfortunately so, it seems gradle (even the preview) isn't compatible   with current ndk build format, thus it would require a

[2015-07-14 00:38] LoungeKatt commented on #102
Not sure what you're talking about. It doesn't crash for me. I wonder if something got left out with the partial merge. I did have a conflict on the rebase.

[2015-07-14 00:38] SeannyM commented on #104
Navigating outside of the SD card directory allows for access to external storage.

[2015-07-14 00:44] adriandennis17 commented on #102
@LoungeKatt the "return key" or back button
when at Play! main screen if that button is press causes the app to force close.I'm not sure if the same thing will happen if you have Virtual back button.

[2015-07-14 00:44] Thunder07 commented on #102
http://pastebin.com/5MfkKD61

this is how I fixed it, https://github.com/jpd002/Play-/pull/103

[2015-07-14 00:47] adriandennis17 commented on #102
@Thunder07 what device did you test the fix on..

[2015-07-14 00:47] Thunder07 commented on #104
Though my phone has no external sd card, I recall samsung devices have something like /sdcard/ext_sd (or something similar)
so even with access to nothing beyond /sdcard you still have access to both storages.

[2015-07-14 00:50] Thunder07 commented on #102
OnePlus One.

[2015-07-14 01:01] LoungeKatt commented on #91
It's all well and good to work on it until it's ready and then submit it as a replacement, I just wouldn't recommend making release builds on it until that time.

It would make a good experimental branch.

[2015-07-14 01:05] LoungeKatt commented on #102
@adriandennis17 Capacitive keys and hardware back are only differentiated when you explicitly check for hardware keys. When you reference the keycode, or use an API back reference, it is designed to take either as valid.

[2015-07-14 01:06] Evolution0 commented on #104
Some tablets have full usb ports or support via the micro usb port. Restricting access to /sdcard would prevent users from accessing storage connected that way.

[2015-07-14 01:06] adriandennis17 commented on #102
@Thunder07 Great, ☺

[2015-07-14 01:08] Thunder07 commented on #104
in that case, "is there much point being able to navigate beyond the */storage* and into root directory?"

[2015-07-14 01:08] LoungeKatt commented on #104
https://github.com/AbandonedCart/Play-/commit/3b5bb6108b3f01c7b68cc5bb9522c25243626781
^ This didn't make it into the weekly build because there were questions about storing a path, but the gist is that it searches the sdcard and, if it exists, external sdcard. It returns all files that fit the requirements and then choosing one will store the directory it was in to speed up a future search.

[2015-07-14 01:11] adriandennis17 commented on #102
@LoungeKatt ok 😅

[2015-07-14 01:37] jpd002 commented on #102
Yup, actually my bad. As @LoungeKatt said, his branch got completely different code for `onBackPressed` and his changes are only merged partially at the moment.

@Thunder07 Thanks for the fix!

[2015-07-14 01:53] MisterHubs commented on #101
It's not an issue with any device, I believe -- neither of those games will show anything.

This is just a guess, but it could be from unimplemented EE/VU instructions; not all are implemented yet.

[2015-07-14 02:02] jpd002 commented on #104
Yeah, navigation is kinda bothersome at the moment. @LoungeKatt's solution is pretty good but like he said, I need to look more deeply into his changes.

[2015-07-14 02:31] jpd002 commented on #91
@LoungeKatt Thanks for the example, I've setup the official repo with the submodules: https://github.com/jpd002/Play-Build

[2015-07-14 03:16] LoungeKatt commented on #91
I am curious how that goes on Windows. I had to edit some of the Android.mk files to get the relative paths to match up. For some reason it works but doesn't look right.

[2015-07-14 03:40] LinkofHyrule89 commented on #91
There are ways to get the NDK to work with the stable version of Android studio which can be used until the Release Candidate 1 hits the stable branch. I've not tried this method but came across it when I was researching how I could setup the project in Android Studio. Unfortunately I wasn't as successful with what I wanted to do as I wanted to be since I don't really have a good knowledge of how

[2015-07-14 03:53] LinkofHyrule89 commented on #104
In the future you could optionally restrict it not to go up any further as long as it can get just outside of internal storage where it lists all the USB drives it would be useful since going to root could be confusing to some users. I do really like the whole idea of just displaying all the roms instead of having to navigate to each folder they are kept in.

[2015-07-14 21:34] paulaz2 commented on #7
Guys any idea on how I can upgrade my openGLES To version 3.0?

[2015-07-14 21:39] Thunder07 commented on #7
@paulaz2 openGLES 3.0 has been implemented into android since jellybean and above, so as long as you've got that and your hardware supports openGLES 3.0, you already have it.

[2015-07-15 00:17] MisterHubs commented on #7
@Thunder07 Actually, minimum SDK required is 19, so you need KitKat (4.4) at the minimum.

[2015-07-15 00:24] OnijJoku commented on #7
@paulaz2 If you're looking into trying this emulator yourself one day, why not consider this list: http://www.gsmarena.com/results.php3?nCPUCoresMin=4&nRamMin=3000&sOSes=2&sOSversions=2410&nOrder=1

These are device that are Jellybean and above (thanks to @Thunder07 ). These devices are also supposed to be all quad core with 3GB of Ram. The most expensive is the first and the cheapest is last. How

[2015-07-15 00:47] Thunder07 commented on #7
@MisterHubs the minimum SDK required for this project is 19, but for OpenGLES 3.0 its 18 which is JB.
I was merely answering the question to the limit in which it was asked, however you're right in the fact even with OpenGLES 3.0 on JB he wont be able to run this emulator with KitKat.
http://developer.android.com/guide/topics/graphics/opengl.html

[2015-07-15 05:53] jpd002 commented on #96
![dc5](https://cloud.githubusercontent.com/assets/6760433/8691687/13de68e6-2a94-11e5-969a-70f1595b8766.jpg)

Well, for one thing, the latencies for DIV operations were off by one. I'll see what I can do for the garbage on the screen.

[2015-07-15 06:37] talamir commented on #101
play is not a very good program as i try games and none work and homebrew works but run too slowly and i think it is the problem with dynamaric binary trnslation as pcsx2 seem to have better work on this

[2015-07-15 06:48] jpd002 commented on #101
@MisterHubs Yes, both FTOI0 and ITOF0 are supported.

@talamir Yeah, PCSX2 is definitively better ATM. Play! has very limited compatibility but things are improving slowly.

[2015-07-15 07:53] paulaz2 commented on #7
Guy i have the 4.4.2 kitkat but stil don't know why the openGL ES version is 2.0 instead of 3.0 really need help from you guys

[2015-07-15 07:54] paulaz2 commented on #7
Ok first any idea on how i can check my API?

[2015-07-15 09:10] paulaz2 commented on #69
Please can you make openGL ES v2.0 for this emulator?

[2015-07-15 09:15] paulaz2 commented on #7
Am using the infinix hot

[2015-07-15 09:39] ralf12345 commented on #7
Might be your phone or tablet is not supports OpenGLES 3.0, like most of older phone and tablet does.

[2015-07-15 14:30] fivefeet8 commented on #7
@paulaz2 You can use PPSSPP to check your supported OpenGL api.  It's a developer option that will list all extensions and OpenGL version supported on your device.

[2015-07-15 15:11] itsmachotime commented on #16
@Fadi5555 is a whiney, demanding, pirate scumbag who doesn't do shit but fucking cheerleading.

'Do your best'
'Keep going'
'We will waiting'
'iOS %#€£¥><#%!!!'

Hey pal, if you've devoted all the time and effort of all your worthless posting here and put it into learning code and programming to help, a fucking iPhone 3GS would run Play!.

All your worthless gibberish here is larger than the whole

[2015-07-15 15:18] lifeiseternal commented on #7
![screenshot_2015-07-15-17-13-38](https://cloud.githubusercontent.com/assets/13318739/8701922/e13b67fa-2b14-11e5-9232-72acc0e48772.png)
HI @fivefeet8  thanks for the tip.
OpenGL 3.0 is supported by my Xiaomi Mi4 but as I wrote before,  when I try a game it shows FPS and virtual gamepad but the screen remains black.

[2015-07-15 15:21] guanda80 commented on #7
You can use AIDA64. Its free on play store.
Em 15/07/2015 4:54 AM, "azuka chukwuma" <notifications@github.com> escreveu:

[2015-07-15 16:13] Thunder07 commented on #7
@lifeiseternal thats because its not an OpenGL issue, the project is still early alpha, nothing is expected to work, and that which does, isnt expect to run every well.

[2015-07-15 16:19] lifeiseternal commented on #7
@Thunder07 I know that,but as a tester i would want to help to understand the issue with my specific Smartphone(Xiaomi Mipad works,Xiaomi MI4 doesn't work).

[2015-07-15 16:38] Thunder07 commented on #7
@lifeiseternal well both devices use different CPU and GPUs, the MI4 is a  Snapdragon 801 CPU/Adreno 330 GPU with 128 cores  which produce around 160 GFlops vs Mipad which uses Tegra K1 with 192 cores whitch can produce 300 GFlops (these are theoratical numbers but you get the point) obviously K1 is stronger and would be better at running these games, but hopefully in time we'd see a greater compa

[2015-07-15 16:49] lifeiseternal commented on #7
@Thunder07 First of all thank you for your answer.
I know that they are different and my first idea was that Play! was only compatible with Nvidia Tegra and not with snapdragon but, if I'm not mistaken, other devices with snapdragon 801 are compatible,then another user said that the problem was with kitkat(Miui Rom is based on 4.4.4)but MiPad works with Kitkat...
We'll see...

[2015-07-15 16:54] talamir commented on #101
@jpd002 are you the developper? are you planning on making more games working and faster to?

because i heard you say you are to help with game issues by getting games and helping ones people reported to want to play them but do you really buy all games for ps2 to debug. there are very many.

[2015-07-15 17:01] MisterHubs commented on #16
@itsmachotime Why don't you learn to code? Or do something for this emulator? At least Fadi said he would test the iOS port, so he is doing something at least for this project. What are you doing?

All the effort you put into being an jerk could go elsewhere.

[2015-07-15 17:10] MisterHubs commented on #7
https://github.com/jpd002/Play-/wiki/Compatible-games#android

If your device cannot run the games listed there, it's simply because every device is not supported or won't run as optimally as others, and that would be a tough mission to accomplish since most devices use different ROMs and use different drivers/GPUs/chipsets/etc. The plan should be to make it work well on most devices, but it'd be

[2015-07-15 17:13] Thunder07 opened #105 "Android: Final Fantasy XII"
I recall reading on last weeks Update that you mentioned FFXII is running but slowly on android.
I've tried but it seems the game stops at the same spot everytime.
after the initial Intro, I select New Game, Wait for Final Fantasy XII Logo followed by the green mist/warp looking screen this is where it freezes, the f/s & dc/f are still moving and ranging between 6-10fps 126-140 dc/f.
interacting w

[2015-07-15 17:13] Thunder07 commented on #101
@talamir I have it on good authority that the dev own a console shop, so he has access to old storage areas with PS2 games.

[2015-07-15 17:17] lifeiseternal commented on #7
I agree.

[2015-07-15 17:17] talamir commented on #101
@thunder07 oh that is good. then every game can easily be checked without hassles of buying

[2015-07-15 17:19] OnijJoku commented on #7
According to this, I may as well just wait til it's capable of emulating off our somewhat inferior GPUs instead of finding a stable Lollipop to harness, right?

@MisterHubs Ugh, Very true! There's just too many variables that may be responsible for this compatibility issue. The best we can do is just hope that most devices will be compatible, and even playable for devices similar to mine, lifeiset

[2015-07-15 18:05] fivefeet8 commented on #7
Unfortunately, having an OpenGL es3 capable device is not the same as having proper drivers for it.  OpenGLes 3 on Adreno devices are a bit of a mess right now.  I can't even get the ES3 path to run properly with GlideN64 without massive rendering bugs.  You could try the emulator after rooting and installing the Freedreno drivers.

[2015-07-15 18:38] lifeiseternal commented on #7
@fivefeet8 I understand,it's a little bit strange because I use many emulators(mupen64,drastic,ePSXe PPSSPP etc etc)without problems.
Rooting my device is not a problem but I'm a little bit scared to install drivers cause I'm not an expert.
I think I will wait some weekly updates and then,if the issue persist ,I'll follow your tip.
Thank you very much.

[2015-07-15 19:07] LoungeKatt commented on #16
@MisterHubs This is github, not a forum. It's the one place developers have that isn't flooded with immature bickering. Please don't make me regret choosing to contribute to this project.

[2015-07-15 19:41] LoungeKatt commented on #105
Have you tried editing the manifest and running with glEs 2? The code is set to use 2 and only being forced to 3 by the manifest. It may reduce the chance for EGL errors with stable drivers.

[2015-07-15 19:42] fivefeet8 commented on #7
@lifeiseternal

Those emulators you listed do no render using OpenGLes3, unless you're running the Alpha version of Mupen64plusAE which includes GlideN64 ES3.  That's why they run without issues.  Adreno has competent drivers for OpenGLes2, but their ES3 drivers pale in comparison to Nvidia.

[2015-07-15 19:46] lifeiseternal commented on #7
@fivefeet8 Thank you very much for your explanation,now I understand perfectly.

[2015-07-15 20:06] Thunder07 commented on #105
I did, although the log provided is with the manifest set to 3, its seems its still using 2? "Adreno-ES20"
but even with it set to 2, still the same problem at the same location.

I'm gonna do a quick clean build just to be sure.

[2015-07-15 20:12] LoungeKatt commented on #105
The code calls for a 2 context. I submitted a pull to change the manifest. I was also playing around with updating the code to use 3, but that takes a lot longer.

[2015-07-15 20:16] Fadi5555 commented on #16
@LoungeKatt you are an important member here. We really need you to help @jpd002 to make this project become more stable I'm believing of your knowledge about the emulation.

@MisterHubs he only want to say this is not the right thing to talk like that.
as you said here is a github not a forum for that we should try to be helpful.
So we should respect each other.

Anyway: LoungeKatt I hope from yo

[2015-07-15 20:27] Thunder07 commented on #105
ok so its the same with the manifest set to 2, but for the 1st run I didn't get any of the warnings ("EGL_CONTEXT_LOST" or "GL_OUT_OF_MEMORY"), and the game exited but on the 2nd run it froze and just spammed "EGL_CONTEXT_LOST".
http://pastebin.com/QqWhE0CD
http://pastebin.com/ZeJvNWkC

[2015-07-15 20:56] MisterHubs commented on #16
@LoungeKatt I was replying to a comment (now deleted) that was insulting @Fadi5555 by @itsmachotime. If you read their posts https://github.com/itsmachotime?tab=activity you will see that they frequently have been dropping by here and making insults to members.

[2015-07-15 21:05] LoungeKatt commented on #16
I don't care who started it and I don't care what you contributed. It's immature and unnecessary. I will gladly delete my posts once yours are removed.

[2015-07-15 21:15] MisterHubs commented on #16
@LoungeKatt I don't care what you have to say then. If you're going to attack me for simply attempting to deal with and rationalize with a fucking asshole coming here and insulting people, fuck this project.

I'm done with Play!

[2015-07-15 21:19] immature opened #106 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #107 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #108 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #109 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #110 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #111 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #112 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #113 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #114 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #115 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #116 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:19] immature opened #117 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #118 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #119 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #120 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #121 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #122 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #123 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #124 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #125 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #126 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #127 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #128 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #129 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #130 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #131 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #132 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #133 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:20] immature opened #134 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #135 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #136 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #137 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #138 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #139 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #140 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #141 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #142 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #143 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #144 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #145 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #146 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #147 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #148 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #149 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #150 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:21] immature opened #151 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #152 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #153 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #154 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #155 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #156 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #157 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #158 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #159 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #160 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #161 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #162 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #163 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #164 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #165 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #166 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:22] immature opened #167 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #168 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #169 "I'm opening this issue because I'm immature...."
v

[2015-07-15 21:23] immature opened #170 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #171 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #172 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #173 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #174 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #175 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #176 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #177 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #178 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:23] immature opened #179 "I'm opening this issue because I'm immature...."
Yeah, that's about it. I was called immature, so I guess I am that way.

[2015-07-15 21:33] Thunder07 commented on #16
@LoungeKatt I really dont know why you even bother with them.

[2015-07-15 21:34] itsmachotime2 commented on #16
@Thunder07 Shut up pussy.

[2015-07-15 21:35] Fadi5555 commented on #16
Please guys don't go out of the topic if you don't mind.

[2015-07-15 21:36] itsmachotime2 commented on #16
@Fadi5555 Go fuck your nigger of a mother you rapist ape.

[2015-07-15 22:23] LoungeKatt commented on #16
<img width="747" alt="screen shot 2015-07-15 at 6 21 34 pm" src="https://cloud.githubusercontent.com/assets/1173913/8711283/7be41e24-2b1e-11e5-992a-98ab8a0f201d.png">

[2015-07-15 22:31] itsmachotime2 commented on #16
![loungefag](https://cloud.githubusercontent.com/assets/13356365/8711419/b3c1a676-2b1f-11e5-82cb-01a9ee23c0d8.jpg)

[2015-07-16 00:12] itsmachotime2 commented on #16
Go slit your throat.

[2015-07-16 02:07] itsmachotime4 commented on #16
I don't appreciate being accused of doing something I didn't do.

[2015-07-16 02:09] itsmachotime5 commented on #16
Otherwise, I'll just keep creating more accounts. If I get IP banned, I'll use Tor/VPN/public IPs/proxies.

[2015-07-16 02:17] itsmachotime5 commented on #105
@LoungeKatt I don't care what the code is calling; it's immature. Don't make me regret coming here.

I'll delete my comment if you delete yours.

[2015-07-16 02:18] itsmachotime6 commented on #104
@LoungeKatt This won't make it because it's immature. I don't care who started it either.

[2015-07-16 02:19] itsmachotime7 commented on #102
@LoungeKatt Don't act immaturely. I'll delete my comment when you delete yours.

Don't make me regret coming here.

[2015-07-16 02:23] itsmachotime8 commented on #91
@LoungeKatt Have you considered not being so immature? I don't care who started it.

[2015-07-16 02:29] itsmachotime9 commented on #104
@LinkofHyrule89 It's immature. I don't care who started it.

[2015-07-16 03:19] itssomachotime commented on #16
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:38] itstrulymachotime opened #197 "False Accusation"
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

@LoungeKatt Stop being immature. I don't care who started it.

[2015-07-16 03:39] #197 closed

[2015-07-16 03:41] itssupermachotime opened #199 "Disrespect is met with punishment"
I am a very persistent person.

[2015-07-16 03:41] itssupermachotime opened #200 "False Accusation"
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:42] itssupermachotime commented on #200
@LoungeKatt Stop being immature. I don't care who started it.

[2015-07-16 03:42] itssupermachotime commented on #197
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:43] #199 closed

[2015-07-16 03:44] #200 closed

[2015-07-16 03:44] itsdeltamachotime opened #202 "Disrespect is met with punishment"
I am a very persistent person. Blame @LoungeKatt. Stop being immature. I don't care who started it.

[2015-07-16 03:45] #202 closed

[2015-07-16 03:46] itsultramachotime opened #204 "Blame LoungeKatt..."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:47] #204 closed

[2015-07-16 03:47] LoungeKatt commented on #204
I'm done. I quit. Happy? Now go find a new hobby.

[2015-07-16 03:48] itsmightymachotime opened #208 "Blame LoungeKatt..."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:50] itsmegamachotime opened #210 "Blame LoungeKatt..."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:50] itsmegamachotime commented on #210
@LoungeKatt Stop being immature. I don't care who started it.

[2015-07-16 03:51] itsomegamachotime opened #211 "False Accusation"
Is anyone going to call me a rapist too?

@LoungeKatt Stop being immature. I don't care who started it.

[2015-07-16 03:55] itssupermegamachotime commented on #210
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 03:55] itssupermegamachotime opened #213 "Blame LoungeKatt..."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:03] #213 closed

[2015-07-16 04:03] #211 closed

[2015-07-16 04:03] #210 closed

[2015-07-16 04:03] #208 closed

[2015-07-16 04:08] itssuperomegamachotime commented on #210
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:08] itssuperomegamachotime opened #215 "Blame LoungeKatt..."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:08] itssuperomegamachotime opened #216 "False Accusation"
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:09] itssuperomegamachotime opened #218 "I'm opening this issue because I'm immature...."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:09] itssuperomegamachotime opened #219 "Disrespect is met with punishment"
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:11] itssuperomegamachotime opened #221 "Blame LoungeKatt..."
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

@LoungeKatt Stop being immature. I don't care who started it.

[2015-07-16 04:13] LoungeKatt commented on #221
You keep posting nonsense, but what do you hope to accomplish?

[2015-07-16 04:13] itssuperomegamachotime commented on #221
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:14] LoungeKatt commented on #221
So basically you're illiterate?

[2015-07-16 04:14] itssuperomegamachotime commented on #221
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:15] LoungeKatt commented on #221
Have a nice life.

[2015-07-16 04:15] itssuperultimatemachotime commented on #221
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:17] itssuperomegamachotime commented on #221
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:18] itselitemachotime commented on #221
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:21] itssuperomegamachotime commented on #221
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-16 04:21] itssuperomegamachotime opened #225 "Disrespect is met with punishment"
No, you falsely accused me and for that you are all fucked.

Just the fact that you admit to not respecting me or saying I don't deserve it means I will trouble more.

[2015-07-17 04:24] jpd002 commented on #105
My guess is that the vertex buffer for rendering primitives gets too big. The culprit is probably that line https://github.com/jpd002/Play-/blob/10ac9246eae7ff5411208816dbe371609dac09af/Source/gs/GSH_OpenGL/GSH_OpenGL.cpp#L1670. It's pretty stupid at the moment, because the buffer's size is unbounded, I need to improve that.

@LoungeKatt I'll take a look at my context creation code again, but I bu

[2015-07-17 04:27] LoungeKatt commented on #105
It probably works on either, but then it probably works on either.

[2015-07-17 04:30] typewritershows commented on #105
@LoungeKatt Stop being immature. I don't care who started it

[2015-07-17 04:31] typewritershows commented on #105
Abuse lasts a lifetime.

[2015-07-17 15:18] Fadi5555 commented on #16
@jpd002 hi there.
Please can you tell me what is the file picker? Because you said that above.

Also there are new three people with amazing knowledge like @LoungeKatt  @LinkofHyrule89 and @Thunder07. So they could help you about your project because they are super active here to do some improvements on your project. I'm sure if you ask them something you'll take a useful things from them.

I wish

[2015-07-18 02:34] Thunder07 commented on #105
@jpd002 I really have no knowledge of GL (some basic enough knowledge in C, mostly transferable from java), but I can always mess around with the code.
I added the code below after if(m_vertexBuffer.empty()) return; to clear out big buffer vertex and the results is variable still.
[code]
I get this instead of the green/mist screen (since i cleared out all most of the vertex?)
![screenshot_2015-07-

[2015-07-18 05:18] jpd002 commented on #16
@Fadi5555 The file picker is just a way to let people select which game they want to load. A bit like that (but less fancier):
![Image](http://313e5987718b346aaf83-f5e825270f29a84f7881423410384342.r78.cf1.rackcdn.com/1411047950-2014-09-18-at-14-53-47-.jpeg)

[2015-07-18 07:05] Fadi5555 commented on #16
@jpd002 I got your point.

But if you inside the play!. You will go to the folder which is you putted your games on that specific folder. So if you arrive there you should able to see the games and select one of them by touching it.

Anyway I hope everything will goes well and easy on all your work on this amazing project.

[2015-07-18 09:23] paulaz2 commented on #93
Thanks

[2015-07-18 10:34] maximu commented on #97
adreno 300 support Opengl 3.0  but has bug drivers In many emulators that require OpenGL ES 3.0 is a headache for these devices.

But anyway I Working with Adreno 305 with v84 driver on android 5.0 lolipop maybe you driver outdate version???

[2015-07-18 11:02] hyakki- commented on #97
I am using stock firmware from Samsung, 4.4.2, I expect them the release lollipop soon though and hopefully it will fix any Adreno bugs,.

Maybe i'' try some ps2 homebrew first see if I can get anything to display that way

[2015-07-18 18:34] maximu commented on #97
@hyakki- you can try some demos http://purei.org/downloads/ps2demos/
Note : for quake.elf need id1 folder .

[2015-07-19 03:35] abhidibada commented on #105
@jpd002 why you dont reply or help me with my issues? I emailed you and asked for help on G+ but moderators delete it and you are very rude because you interact with other developers on G+ and this site but you won't help me or many of other supporters/testers/people who actually help the emu too.

[2015-07-19 03:40] jpd002 commented on #105
@abhidibada Sorry, my time is limited and I can't answer everyone. Can you open a new issue on GitHub with a description of your problem so we can work it out? Thanks.

[2015-07-19 05:17] abhidibada commented on #105
no I wont bother because you are clearly too busy on gooogle hangouts with developers. typical emu developer who only gives a shit about there developer buddys and never cares about all the thousands of people who test games for you, do bug reports and even analyze/fix problem for you

[2015-07-19 06:12] edwardmx96 commented on #105
Personally, I am grateful that someone is finally making a ps2 emu for android. @jpd002 keep up the good work. Thank you for fixing the KH2 issue. I can imagine how stressful it is to be working on so many issues at once. Take it easy. @abhidibada it's not an easy task I can imagine for the developer to be stretched in so many places at once. The emulator will get there soon.

[2015-07-19 07:41] LoungeKatt commented on #105
@abhidibada By starting a new issue, you get a whole thread to talk about it. It won't get lost in a sea of posts and it will only get merged with related issues. These developer buddies you speak of may have answers as well, but most likely aren't reading @jpd002's email.

Your post may have been deleted on Google+ if it broke a rule. One of them happens to be that you shouldn't post that a game

[2015-07-19 12:51] Abz1 commented on #101
So is this a bug and can it be fixed?

[2015-07-20 02:29] jpd002 commented on #101
@Abz1 Yes, it can be fixed, I'm getting the games and I will take a look at them once I receive them.

[2015-07-20 04:03] condomforwomen opened #237 "Can't add to compatibility list anymore..."
Before I remember an edit button there but now it dissapeared. I tested a bunch of games with good results but I can't find any way to add games/status of games to the list so what is the issue?

[2015-07-20 04:13] jpd002 commented on #237
Oops, my bad, I forgot to re-enable edition. It's now working again.

[2015-07-20 04:13] #237 closed

[2015-07-20 04:14] jpd002 commented on #102
Fixed in today's weekly build (2015-07-19).

[2015-07-20 04:14] #102 closed

[2015-07-20 08:28] Abz1 commented on #101
@jpd002 thanks alot! Good luck on this project, I hope it goes far.

[2015-07-20 10:31] Abz1 opened #239 "Half Life stays on black screen on Motorola RAZR i x890."
Half life only stays on black screen. Also the frame jumped alot. sometimes i got 2 and 6. however, sometimes i got 21 and 24fps.

[2015-07-20 13:02] acocalypso opened #240 "[Android][BUG]Wrong Cover"
I tried latest weekly and figured out that I have some wrong Covers for .elf files
For fire.elf Im getting the image of the Fire Heroes game and for the quake homebrew .elf Im getting the Quake III Cover.

Is there a possibility to check for the game ID

[2015-07-20 14:00] Thunder07 commented on #240
That's because it's using the file name.

Unfortunately that has it limits, I'm currently working on a method to use game ID instead.

But for elf, I don't imagine you'd ever be able to get a cover since the elf itself tends to be the ID.

[2015-07-20 14:06] acocalypso commented on #240
I can send a prove if you want to
Am 20.07.2015 4:00 nachm. schrieb Thunder07 <notifications@github.com>:That's because it's using the file name.

Unfortunately that has it limits, I'm currently working on a method to use game ID instead.

But for elf, I don't imagine you'd ever be able to get a cover since the elf itself tends to be the ID.

—Reply to this email directly or view it on GitHub.

[2015-07-20 14:15] Thunder07 commented on #240
There is no need, The Issue is know, I for one am getting a picture of NCAA Final Four 2001 for Final Fantasy Type 0 (a psp game :p)

[2015-07-20 15:01] LinkofHyrule89 commented on #240
@jpd002 is working on a method to pull the game ids from the games Wren the app starts so that can be used for the search instead however if you have working cover for that feel free to submit a pull request we appreciate any help from other developers.

[2015-07-20 15:09] Thunder07 commented on #240
@LinkofHyrule89 a pull request why?
There currently isn't a method to load a custom cover nor if there was will the cover be made part of the app itself, thus no need for any pull requests.

[2015-07-20 16:51] LinkofHyrule89 commented on #240
Sorry for the confusion I was replying to @acocalypso because he said he was working on a way to get the game id.

[2015-07-20 17:04] Thunder07 commented on #240
@LinkofHyrule89 I think you're still confused, I think your read his quotation of me saying I'm working on a way :p

[2015-07-20 17:07] acocalypso commented on #240
no im not working on a possible fix for that :D

[2015-07-20 17:11] LinkofHyrule89 commented on #240
Oh OK lol that makes sense.

[2015-07-20 22:48] johnlast opened #242 "android: chaos wars"
Hello. I just tried to load chaos wars on a 4.4.2 android tablet adreno. The ft bounced around from 6 to 20 for a while then stayed at about 6. The DC stayed at 0. All that showed was a black screen. I waited about a half hour and still black screen. The good news is it loaded the correct box art! Thanks for all your hard work. Oh I also like the new updated look very sleek!

[2015-07-21 03:10] jpd002 commented on #82
Problem with Nexus Player (and maybe other devices) seems to come from this: https://code.google.com/p/android/issues/detail?id=179410

Don't know if Google is planning to fix that in the next NDK version.

[2015-07-21 03:11] LinkofHyrule89 commented on #82
Well it's good you found out what the problem is can you fix it do you think?

[2015-07-21 03:21] jpd002 commented on #82
If they don't fix it in the next NDK release, I could do what the bug reporter is suggesting, but that might have other side effects. I think it's better to wait for now.

[2015-07-21 03:27] jpd002 commented on #239
Thanks for the report. Is this the phone you're trying to run the game on? http://www.gsmarena.com/motorola_razr_i_xt890-4998.php

[2015-07-21 03:31] jpd002 commented on #99
Thanks for the report. Maybe it's related to #97 ? That Galaxy Tab also has an Adreno 330.

[2015-07-21 03:34] jpd002 commented on #91
I've changed some of the build scripts yesterday to remove some of the stuff from `ExternalDependencies.mk` (namely in the CodeGen project). It assumes a directory structure like the one present in the `Play-Build` project.

[2015-07-21 03:49] johnlast opened #243 "android: disgaea afternoon of darkness and arcane hearts"
Here the next 2, I'm using a android tablet 4.4.2 adreno.   Arcane hearts stayed on black screen. The ft jumped around from 2 to 6 and DC stayed at 0. disgaea stayed on black screen but ft jumped from 0 to 30 and DC went all the way up to 210 and stayed for a out 20 min then went down to 40 and stayed there.

[2015-07-21 03:50] johnlast opened #244 "android: disgaea afternoon of darkness and arcane hearts"
Here the next 2, I'm using a android tablet 4.4.2 adreno.   Arcane hearts stayed on black screen. The ft jumped around from 2 to 6 and DC stayed at 0. disgaea stayed on black screen but ft jumped from 0 to 30 and DC went all the way up to 210 and stayed for a out 20 min then went down to 40 and stayed there.

[2015-07-21 03:50] lifeiseternal commented on #99
@jpd002 Thank to you for your answer.
Yes it's seems the same problem.
Thank you for your work.

[2015-07-21 03:54] #244 closed

[2015-07-21 03:55] jpd002 commented on #243
Thanks for your report. Which tablet are you trying to run the games on? Were the games running on your tablet before?

[2015-07-21 04:07] jpd002 commented on #79
![os_1](https://cloud.githubusercontent.com/assets/6760433/8792900/3c1815da-2f3c-11e5-8162-789187489324.jpg)
![os_2](https://cloud.githubusercontent.com/assets/6760433/8792901/3d4ae8f6-2f3c-11e5-9544-6f838453524b.jpg)

Seemed to be only a small timer problem. Game looks pretty much playable otherwise. I'll have the fixes ready for the next weekly build (2015-07-26).

[2015-07-21 04:18] Fadi5555 commented on #16
Hi @jpd002
Did you do file picker yet please?

[2015-07-21 04:28] jpd002 commented on #16
Nope, not yet, sorry, but I'm hoping to get it done this week.

[2015-07-21 04:33] johnlast commented on #243
Samsung galaxy note. No I tried chaos wars a few weeks back and same thing. I waited until now to try again and give you time to update.

[2015-07-21 05:25] jpd002 commented on #79
0b35fe2f8863b073d532bb6048ad627045c370aa fixes the issue.

[2015-07-21 07:57] Abz1 commented on #239
@jpd002 yes, that's the one.

[2015-07-21 08:57] Fadi5555 commented on #16
It's ok.
All i have to say please take care of it.
I think you really interested in android one and always try to fix almost of things on it.
If that work will related and share to ios it'll ok.

I feeling happy about android because it's improving pretty fast.
But on iOS until now we didn't even get our first weekly build.

Anyway I hope from you all the best
And sorry for if I making some noise

[2015-07-21 09:00] Fadi5555 commented on #16
It's ok.
All i have to say please take care of ios.
I think you really interested in android one and always try to fix almost of things on it.
If that work will related and share to ios it'll be good.

I feeling happy about android because it's improving pretty fast.
But on iOS until now we didn't even get our first weekly build.

Anyway I hope from you all the best
And sorry for if I making some

[2015-07-21 18:58] acocalypso commented on #105
Hi I tested this game with latest build on my Oneplus one with cyanogenmod nightly and I just get a black screen.

[2015-07-21 21:50] Badwolf0301 opened #245 "S6 Edge"
I have Play up and running on my Samsung Galaxy S6 Edge I have tried a couple games now, two out of three of them loaded no problem beside a very low frame rate, so therefore it was hard to play they at all. However both games I did get up and running had absolutely no sound. I'll test some more and see if it is a continuing problem.

[2015-07-21 22:06] Thunder07 commented on #245
sound has either not been implemented or enabled yet.

[2015-07-21 22:07] Badwolf0301 commented on #245
Gotcha thanks for letting me know. I also have a Nvidia Shield Tablet I'll do some testing on too.

[2015-07-22 04:43] jpd002 commented on #245
@Badwolf0301 Thanks for your report. As @Thunder07 said, sound is not supported on Android. It is emulated, but not outputted.

[2015-07-22 05:48] jpd002 commented on #239
Humm, are you able to play other games on that phone? It says it has an PowerVR SGX540 which doesn't seem to support GLES 3.0.

[2015-07-22 06:14] Badwolf0301 commented on #245
Thanks for letting me know I was hoping it was just because it's still early and not a problem with my devices. Thank you again for letting me know.

[2015-07-22 09:06] Fadi5555 commented on #16
@jpd002 nice job of adding file picker.
I'm really happy about that. And waiting for the new.

[2015-07-22 10:47] Abz1 commented on #239
@jpd002 So far, I haven't had any luck, because the ps2 isos are massive. I'm going try one of the working games on the compatibility list and then I'll let you know.

[2015-07-22 15:50] n1dminhd opened #247 "(Windows) SpinDrive Ping Pong : Loadable with FPS, but shows nothing"
Play! 22-07-2015 Windows 7 64bit

![untitled](https://cloud.githubusercontent.com/assets/4449742/8829983/ea9ec10c-30c3-11e5-8209-8aacdf03c003.jpg)

[2015-07-22 16:02] n1dminhd opened #248 "(Windows) Shaman King - Power of Spirit : Loadable with FPS, but shows nothing"
Play! 22-07-2015 Windows 7 64bit

![untitled 2](https://cloud.githubusercontent.com/assets/4449742/8830312/c658a220-30c5-11e5-9f67-0c9680271982.jpg)

[2015-07-22 16:05] n1dminhd opened #249 "(Windows) Superman Returns : Loadable with FPS, but shows nothing"
Play! 22-07-2015 Windows 7 64bit

![untitled 3](https://cloud.githubusercontent.com/assets/4449742/8830380/23b4ecb2-30c6-11e5-89d5-0c0cf7fb680c.jpg)

[2015-07-22 16:11] n1dminhd opened #250 "(Windows) Clock Tower 3 : In game but black screen"
Play! 22-07-2015 Windows 7 64bit

![untitled 3 5](https://cloud.githubusercontent.com/assets/4449742/8830517/c27053e6-30c6-11e5-9fa6-3e5480e736a9.jpg)

![untitled 4](https://cloud.githubusercontent.com/assets/4449742/8830519/c7bc6358-30c6-11e5-8f9f-c5c37dab3133.jpg)

But, after :

![untitled 5](https://cloud.githubusercontent.com/assets/4449742/8830542/eb97833e-30c6-11e5-82b2-de54a48b1eb2.jpg)

[2015-07-22 16:19] n1dminhd opened #251 "(Windows) Naruto - Uzumaki Chronicles : Loadable with FPS, but shows nothing"
Play! 22-07-2015 Windows 7 64bit

![untitled 6](https://cloud.githubusercontent.com/assets/4449742/8830743/252ce372-30c8-11e5-80b9-255e6a68e111.jpg)

[2015-07-22 16:23] n1dminhd opened #253 "(Windows) God Hand : Loadable with FPS, but shows nothing"
Play! 22-07-2015 Windows 7 64bit

![untitled 7](https://cloud.githubusercontent.com/assets/4449742/8830839/b26c3026-30c8-11e5-86d4-aef944a1d63f.jpg)

[2015-07-22 17:01] brujo5 commented on #16
something good is coming!!

[2015-07-22 17:29] Fadi5555 commented on #16
@brujo5 if you think as my mind it's amazing.

@jpd002 said the only thing that preventing him of releasing iOS port in the weekly build is (file picker)
And he added it.
That's way I feeling happy.

[2015-07-22 17:33] LoungeKatt commented on #16
@Fadi5555 It takes 4 - 6 weeks for the app store to approve an app but they usually deny emulators. That means there is going to need to be a cydia repo, which will require setup or submission.

It may take a little extra time to do those things even after it's ready.

[2015-07-22 17:41] brujo5 commented on #16
@LoungeKatt

Use yourepo.com its free and work perfect, also is 100% secure.

[2015-07-22 17:47] LoungeKatt commented on #16
@brujo5 that's up to @jpd002. The point was "It may take a little extra time to do those things even after it's ready."

[2015-07-22 17:51] Fadi5555 commented on #16
@LoungeKatt will the project (play!) is not related to AppStore at all.
Because Apple not allow to any kind of emu to run on AppStore.
Maybe this information you did know about it.
So I guess @jpd002 will put deb or iPad file in his website to download it directly.
Or put it on cydia repo. Because maybe it's require jailbreak to use it.

[2015-07-22 17:55] LoungeKatt commented on #16
@Fadi5555 "but they usually deny emulators."

[2015-07-22 18:00] Fadi5555 commented on #16
Apple didn't like any kind of emu inside AppStore.
That's way we jailbreaking our iOS devices. Because the jailbreak is opening the windows to us to do what ever we want. Also the (JIT) will opening when you jailbreaking your device. It's really important to speed up the games on any emulors like (ppsspp , retroarch)
By jailbreaking it you can't imagine how it fast.

[2015-07-22 18:04] LoungeKatt commented on #16
@Fadi5555 I am a registered Apple Developer. You don't need to explain.

[2015-07-22 18:10] Fadi5555 commented on #16
Well I'm sorry. I just want to let you know.

Anyway I guess @jpd002 will use deb file to put it on the weekly build (deb format is only use on jailbroken devices) so it will install like any other tweak inside cydia)
Also retroarch and ppsspp install as a den format.

[2015-07-22 18:17] LoungeKatt commented on #16
Be patient.

[2015-07-22 18:18] Thunder07 commented on #16
this is too funny :)

[2015-07-22 18:19] brujo5 commented on #16
@LoungeKatt

Sorry Offtopic.

any chance to add an option to enable the ARM64 JIT for ppsspp iOS?
Because is ready.

[2015-07-22 18:20] LoungeKatt commented on #16
@brujo5  http://forums.ppsspp.org/forumdisplay.php?fid=3

[2015-07-22 18:27] brujo5 commented on #16
@LoungeKatt

I know that, but ppsspp dont have an active developer.
And you are better the angelxwind for that job:)

[2015-07-22 18:34] LoungeKatt commented on #16
@brujo5 I didn't apply and I sure wouldn't on the Play! issues. Be patient.

[2015-07-22 19:07] brujo5 commented on #16
@LoungeKatt

Ok thanks.

[2015-07-23 04:26] jpd002 commented on #16
I was just thinking of providing an unsigned IPA and a jailbreaked device will be required to run it. I'll try to upload a build soon so you guys can tell me if it works.

[2015-07-23 05:00] jpd002 commented on #16
I've uploaded an IPA: http://purei.org/downloads/play/ios_test/Play!-0.30-1.ipa.

Right now, all it does, is list all ELF files from the application's home directory. Selecting an ELF file will load and start the executable. (Demos in ELF format available here: http://purei.org/downloads/ps2demos/)

[2015-07-23 05:17] brujo5 commented on #16
Thanks will try soon!!

[2015-07-23 05:24] brujo5 commented on #16
@jpd002

cant install the ipa. the only way to install it is extracted ipa files whit 7zip then drag Play!.app in /applications and set permission

[2015-07-23 05:29] brujo5 commented on #16
@jpd002

installed the app in root directory applications/  whats the rute for put rom?

[2015-07-23 05:33] jpd002 commented on #16
Placing ELF files in the application's Document directory will do the job.

[2015-07-23 05:35] brujo5 commented on #16
done!!

working fine, for now only run ELF files right?

thank you for your effort on this project!!

[2015-07-23 05:37] jpd002 commented on #16
Yes, I will add support for loading disk images (ISZ, CSO and ISO) for this week's build.

[2015-07-23 05:41] brujo5 commented on #16
very good work.
amost all ELF files working fine excep the quake.ELF run in black screen.

[2015-07-23 05:44] brujo5 commented on #16
Here some screen.
![image](https://cloud.githubusercontent.com/assets/4172898/8843868/9c84df9e-30cb-11e5-86ff-19162527938a.jpg)
![image](https://cloud.githubusercontent.com/assets/4172898/8843869/9ca852d0-30cb-11e5-9050-e4627929207e.jpg)

[2015-07-23 05:52] Fadi5555 commented on #16
Wow I alrea come and see the amazing thing
Thanks @jpd002 for that I really appreciate

[2015-07-23 05:53] Fadi5555 commented on #16
@brujo5 please tell me how i can install it?

[2015-07-23 06:05] Fadi5555 commented on #16
I install it through cydia tweak which is called (iPad installer)
Put it crash on my iPad air 2

[2015-07-23 09:20] ppssppios commented on #16
@Fadi5555 yepp, same here, it crashes on my ipad air 2 directly after launching the app

[2015-07-23 09:40] Thunder07 commented on #16
If I had to guess, that's probably because the app assumes it will find an elf, when it doesn't it crashes, so try adding that.

[2015-07-23 09:46] ppssppios commented on #16
@Thunder07 just tried to put an elf in the play app documents folder, still crashes

[2015-07-23 10:00] bobbymc1985 commented on #78
Just tested commandos strikeforce. It loads up past the pocketwatch loading screen then its a white screen after that.

[2015-07-23 10:11] Fadi5555 commented on #16
@Thunder07 thank you so much for replying. well i also tried to put elf on it. But it still crash on me.

[2015-07-23 10:25] Thunder07 commented on #16
Well, I don't have an IOS device, so I was just speculating on what could be the cause, you'll just have to wait for jpd to come online and I'm sure he'll figure out something, for the time being you should just wait.......

Also, he's unlikely to be on within the next 12hours, so like twisted said earlier, patience is virtue.

[2015-07-23 11:22] Fadi5555 commented on #16
I also have tried on my iPhone 5s and it crash as well.
We need @brujo5 to tell us how the method of installing this and bypass the crash?
Please tell us?

[2015-07-23 13:34] LoungeKatt commented on #16
Usually Xcode signs the ipa, meaning on a jailbroken device you need to strip the signature. It's also possible it's designed as a user app and you installed it as a system app, which will crash immediately.

[2015-07-23 15:10] Fadi5555 commented on #16
@LoungeKatt thanks for trying to find a solution and help as well.
Anyway @brujo5 he just only installed by other way if he here he will tell us how?

[2015-07-23 15:18] LoungeKatt commented on #16
@Fadi5555 Why not take some time and try getting it to work while you wait for the answer. I gave you some tips, Google has some guides, and one user doesn't need 15 notifications for one question.

[2015-07-23 15:55] Fadi5555 commented on #16
@LoungeKatt i want to tell you what I did so far.
I have appcake it same appaddict. And super easy to use. Well I tried to install that ipa file through appcake and it installed successfully but when I want to launching it it crash (also it's not installed on /application) no it installed on var/mobile/Containers/Bundle/Application this place like any AppStore apps.

Also I tr to rename it from pl

[2015-07-23 16:24] brujo5 commented on #16
i only extracted the entire app from the ipa and placed in Aplications/ then open winscp and set permissions 1005/1004 like other emulator (retroarch)

[2015-07-23 16:31] Fadi5555 commented on #16
@brujo5 welcome back.
Well is it will work on iFile without computer?

You said you did this without installing the ipa. It's only extracted play!.app folder from ipa to /Application

[2015-07-23 16:35] brujo5 commented on #16
yes and no forget set permissions

[2015-07-23 16:39] Fadi5555 commented on #16
I copy now the play!.app to /Application

But how do the permissions inside ifile please help me there is no 1004,1005 available?

![image](https://cloud.githubusercontent.com/assets/10546081/8856269/702e8196-3172-11e5-913b-ab3b2d5aa01e.jpg)

[2015-07-23 16:43] brujo5 commented on #16
download winscp https://winscp.net/eng/download.php

then open cydia and install openssh

[2015-07-23 16:47] brujo5 commented on #16
in ifile ( i think work)

tick apply hierachically

owner root
group admin

user read write execute
group read write execute
world read write execute

also go to Applications/Play!.app and set the same permission for play!

respring or uicache if icon not appear in springboard

[2015-07-23 16:48] LoungeKatt commented on #16
Make the User, Group, and World the same as PPSSPP. Those are the permissions.

[2015-07-23 16:59] Fadi5555 commented on #16
I did all that but it didn't show on home screen

[2015-07-23 17:00] LoungeKatt commented on #16
Reboot.

[2015-07-23 17:02] brujo5 commented on #16
download powerapp from cydia

then open tick
1  refresh cache
2  respring

[2015-07-23 17:09] Fadi5555 commented on #16
I install powerapp and finally show on home screen but when I launching it it take maybe 7 seconds and then crash

[2015-07-23 17:15] brujo5 commented on #16
um

use winscp or ifile and set the same ppsspp or retroarch permissions for play!.app

[2015-07-23 17:28] Fadi5555 commented on #16
On my iPhone 5s finally works
But i did where I should put elf files
Please tell me?

On my ipad air 2 even did same things but still crash.

[2015-07-23 17:35] brujo5 commented on #16
var/mobile//documents

no idea what happend on ipad air 2

[2015-07-23 17:40] LoungeKatt commented on #16
Sadly I can't upgrade to Yosemite, so the Mavericks Xcode won't open the project.

[2015-07-23 17:42] Fadi5555 commented on #16
Edit: i try put some elf files but the app take 8 seconds then crash like before
Even though I deleted elf files but is still crash

[2015-07-23 17:46] brujo5 commented on #16
i tested bytheway.elf

[2015-07-23 17:56] brujo5 commented on #16
the dolphin port is on the way but the developer had problems whit map correctly the virtual memory adress.https://forums.dolphin-emu.org/Thread-dolphin-on-ios?pid=379567#pid379567
hope more people with skill can help him.

[2015-07-23 18:02] Fadi5555 commented on #16
Nice job i hope he could fix all the issues.

Anyway please i have a little thing from you.

I just need from you to do screenshot inside ifile on play!.app i just want to do like the picture of you.
Because  i did like ppssp but it crash

[2015-07-23 18:02] LoungeKatt commented on #16
@brujo5 What's that have to do with Play!?

[2015-07-23 18:26] brujo5 commented on #16
nothing sorry, I will not do, as it is meant as disrespect although it is not.
ps2 + dolphin emulators are an dream for me.that is all!!

[2015-07-23 20:27] Fadi5555 commented on #16
Me too this is my dream to run dolphin as well as ps2 emu (Play!)

Anyway I hope from @jpd002 find a solution for the crashing of play!
Also to adding (iso,isz,bin,cso)

[2015-07-24 03:31] jpd002 commented on #16
I've disabled code signing on the app, so signature shouldn't be an issue.

@Fadi5555 Could you get me a crash log so I can see where the problem is?

[2015-07-24 04:09] LoungeKatt commented on #16
@jpd002 I wasn't sure. I ran it through my repo which would have stripped it anyway.

[2015-07-24 04:31] Fadi5555 commented on #16
@jpd002 crash log?
How can i do that? Just tell and ready for that.

[2015-07-24 05:02] jpd002 commented on #16
@Fadi5555 https://developer.apple.com/library/ios/qa/qa1747/_index.html

[2015-07-24 05:20] Fadi5555 commented on #16
What should i do with this link?
I gave you the crash log.
Or you want a whole lines of that crash log?

[2015-07-24 05:26] jpd002 commented on #16
Sorry, I posted that link before I saw your screen shots. I will need all the information from the log. You can copy and paste the text in an e-mail to me.

[2015-07-24 05:38] Fadi5555 commented on #16
What's your email address?

[2015-07-24 05:42] jpd002 commented on #16
jpd002@gmail.com

[2015-07-24 05:50] Fadi5555 commented on #16
Done I send that to you

[2015-07-24 05:51] jpd002 commented on #16
@Fadi5555 Thanks.

[2015-07-24 05:52] shammalama opened #256 "Same problem with multiple Rockstar games on Play!"
All Rockstar games I've tried on Play! seem to have the same exact issue: they load, show the intro movies, but if you try and skip them, there's freezing; and if you let them play through, they finish but then hang on a black screen and never move on. Here are all the games that do the same thing:

1.Grand Theft Auto: Vice City.

2.Grand Theft Auto: San Andreas

3.Grand Theft Auto: Vice City Stor

[2015-07-24 06:15] LoungeKatt commented on #16
@Fadi5555 "I will add support for loading disk images (ISZ, CSO and ISO) for this week's build."
Builds have been every Sunday / Monday (depending on time zone), so the next build will most likely be available this Sunday / Monday and will most likely include disk images.

If you look back to the posts from yesterday and check the dates on the download page, you would have found the same thing.

[2015-07-24 06:16] jpd002 commented on #256
Indeed, it's probably the same issue with all those games. I'll need to get one of those and take a look at what's going on.

[2015-07-24 06:18] jpd002 commented on #253
Thanks for the report. I will take a look when I get the chance.

[2015-07-24 06:28] brujo5 commented on #16
i dont have the bug crash related by Fadi555.

tested on iphone 5S and iphone 6+ both whit ios 8.4 jalibroken

[2015-07-24 07:41] Thunder07 commented on #104
Irrelevant now

[2015-07-24 07:41] #104 closed

[2015-07-24 08:15] LinkofHyrule89 commented on #82
@LoungeKatt @Thunder07 basically the new update never gets past the loading games on the nexus player and just closes not that it really matters since only the one demo actually runs right now anyways.

[2015-07-24 08:31] Thunder07 commented on #82
I'm not home nor in front of a computer to be able to look into it, but nothing in that update touches any of the launch/loading  codes.
But I have noticed non clean build that involve native code edits tend not to boot correctly, debug builds in general too, you should probably do a clean release rebuild

[2015-07-24 08:35] LinkofHyrule89 commented on #82
Yeah I tried cleaning but maybe I'll try again. But most likely it's not actually your code but the same problem that's be plaguing this and probably other apps on x86 when using the NDK. Hopefully we are able to figure out a solution to fix the problem last build the game list loaded and when you tried to play a game it closed but the now after a while at the loading games it just closes. Anyways

[2015-07-24 09:21] LoungeKatt commented on #82
07-24 02:16:31.073: A/libc(32559): Fatal signal 11 (SIGSEGV), code 128, fault addr 0x0 in tid 32559 (plications.play)

http://stackoverflow.com/a/16970161

Gotta love CM's duct tape builds and the log spam they create. The error was at line 4750.

[2015-07-24 11:02] Fadi5555 commented on #16
@LoungeKatt. Thank you so much.
Please don't forget to add (bin) as well

[2015-07-24 15:39] LoungeKatt commented on #16
Have you considered asking in the Google+ community first? You may get more help having the other 1,000 users that don't get notified of this issue see your post.

[2015-07-24 16:39] LinkofHyrule89 commented on #82
Yeah cm has a lot of log spam it's annoying. Do you think you can make a patch to fix the problem? Hopefully you guys can figure it out I'm sure it'll benefit other x86 devices. Just to be clear I've tested on stock and a couple versions of Android so I know it's not cm that's causing it in addition to the fact that it works fine on my OnePlus One.

[2015-07-24 16:49] LoungeKatt commented on #82
http://stackoverflow.com/a/18507287

[2015-07-24 18:31] LinkofHyrule89 commented on #82
Hopefully those are more useful to @jpd002 than they are to me. Thanks for finding those maybe we can pinpoint the bugs in x86 better and get them fixed.

[2015-07-24 19:52] #91 closed

[2015-07-24 19:55] LoungeKatt commented on #82
That's how to get a precise log of the error. I'm not sure how that would be any less useful to someone with the hardware that is experiencing the error than to the person attempting to fix it.

[2015-07-24 21:04] bobbymc1985 commented on #78
Also tested conflict desert storm,loads up to the first loading screen then white screen appears then freezes

[2015-07-25 00:55] Fadi5555 commented on #16
@LoungeKatt thank you for helping.
You said you will add (iso,isz,cso) but please don't forget to add (bin) as well.

Any way I emailed @jpd002 about the issue of causing the crash on play! And give him my crash log to analysis it and find a solution for that. Other ppsspp and retroarch are never crash with me at all.
So I g if @jpd002 cout remake from ipa to deb file or put it on repo on cydia. I

[2015-07-25 01:22] dogmahola opened #258 "Metal Gear Solid 2: Sons of Liberty wont boot because of VU issues"
I came across a user on reddit who said this game can work if they hacked the VU units and bypass issues, but they would not give a build. I was wondering if any dev here can get the game (4 bucks on ebay) and try and commit the fixes/hacks to master so it can be included in the weekly builds? thanks!

EDIT they did not mention the issues, but I am at least just trying to help you with what they s

[2015-07-25 01:54] LoungeKatt commented on #16
@Fadi5555 I was quoting a previous post, but it's not like anyone could forget. You tend to make the same post over and over until someone answers.

[2015-07-25 02:44] Fadi5555 commented on #16
I'm really sorry I just want to mention (bin) format.
I also told you what I have done with @jpd002 about crash log.

[2015-07-25 03:14] jpd002 commented on #16
@Fadi5555 Thanks for the crash log. Unfortunately, I can't extract any information that would be useful to me. I'll try creating a .deb package to see if that helps.

[2015-07-25 03:15] jpd002 commented on #258
Thanks for the information. Do you have any link that shows the user saying that he fixed the game?

[2015-07-25 03:38] Fadi5555 commented on #16
@jpd002 thanks a lot for trying to help.
About deb package it could help to fix that issue of crashing.
Because ppsspp and retroarch as a deb files didn't had a crash issue.

About testing:
On my own iPhone 5s on 8.3 it it takes 9 seconds then crash as well as on my iPad air 2 same thing.
On my friend's iPad 4 it  open play! But it clones elf files but when I select elf file it crash and getting t

[2015-07-25 03:46] dogmahola2 commented on #258
Sorry I forgot where it was and I don't have the link.

[2015-07-25 05:10] brujo5 commented on #16
I dont know, but remember I am using iOS 8.4.
perhaps an error of Jalibreak on iOS 8.3. why not try to update some of your devices to iOS 8.4?

[2015-07-25 06:17] Fadi5555 commented on #16
Wow you're alright about the safe mode.

I tried with my iphone 5s with safe mode and it runs without crashing even elf it run perfectly.

But my ipad air 2 still no luck even with safe mode.

[2015-07-25 07:17] brujo5 commented on #16
Download icleaner and disables the tweaks one by one (mobilsustrate addons), until you find the culprit.

[2015-07-25 07:41] bobbymc1985 commented on #78
Conflict desert storm 2 crashes at sci games at the beginning.if anyone wants me to test certian games just comment and il see what i can do

[2015-07-25 08:12] Fadi5555 commented on #16
@brujo5 wow that's really fantastic from you
Thank you so much. You really help me.

Update:
When I downloaded icleaner
Snd only tick on rest of play!
It's finally work without crash on normal mode. That good.
![image](https://cloud.githubusercontent.com/assets/10546081/8888626/cde48078-32bd-11e5-88b4-ffce98805b35.jpg)

I did this on iPad air as well but not working.

[2015-07-25 20:39] cg0 opened #259 "Play crashes instantly on hudl 2"
I am writing this on behalf of my girlfriend.

She is currently trying to test the application however whenever she opens the application it says "Unfortunately play has stopped", as far as I know, she is on the latest version.

Specifications for the tablet:
- Android KitKat
- Intel Atom Quad Core CPU (1.8Ghz)
- 2GB RAM
  More information can be found by searching for the Tesco Hudl 2.

I'd also

[2015-07-25 20:51] Fadi5555 commented on #16
He guys
Well this is my quick update:

After upgrading my iPad Air 2 from 8.1.1 to 8.4 and did Jailbreaking it after that I downloaded play! After all that it finally works.
I guess it's from frameware not from play! Itself.

This is image from my iPad
![image](https://cloud.githubusercontent.com/assets/10546081/8891185/f61c99e4-3327-11e5-993a-57bb6df2f0a6.jpg)
![image](https://cloud.githubusercon

[2015-07-25 20:57] MoochMcGee commented on #259
x86 Android isn't supported, dude.

On Sat, Jul 25, 2015 at 3:39 PM, Connor <notifications@github.com> wrote:

[2015-07-25 21:11] LoungeKatt commented on #259
@MoochMcGee https://github.com/jpd002/Play-/commit/9c0f560d70cfc22c19d619ec799aa8f8930dfa0a

@Reddy360 There is still an issue with x86 that's being looked into. https://github.com/jpd002/Play-/issues/82

[2015-07-26 00:35] brujo5 commented on #16
@Fadi5555

I'm glad your problem is solved:)

[2015-07-26 00:53] Fadi5555 commented on #16
@brujo5 i did what have you say:
And this is a result. It works finally.
Maybe it could be the frameware or jailbreak versions. And play is stable on 8.4.

Now we waiting dor to support (bin,iso,isz,cso) to have some test on that.

[2015-07-26 02:34] LoungeKatt commented on #16
What about 7z?

[2015-07-26 02:35] brujo5 commented on #16
nice in zip format.

[2015-07-26 06:42] jpd002 commented on #259
@Reddy360 Could you get us a dump of the device's log when it crashes?

[2015-07-26 18:57] annahana opened #260 "RAINBOW SIX 3 [Sles-522.88 ]do not find controler in slot 1"
System windows 10 pro
ram 4gb
gpu AMD Radeon HD 6450
cpu intel core i3 2120

if i run the emulator wit the game it says that the controler is not connected
![play ranibow six 3](https://cloud.githubusercontent.com/assets/13276505/8895347/1db95f46-33d7-11e5-8a07-dcafb879171e.PNG)

the emulator is in default setting.
other games have no problem with the controler

[2015-07-26 20:15] drainbeam commented on #260
This issues happen with other games as wlel because there are problems with the IOP scheduling.

[2015-07-26 21:22] OnijJoku commented on #7
Does anyone got any new information to provide with the current update?

[2015-07-27 03:29] jpd002 commented on #16
http://purei.org/downloads/play/weekly/Play-20150726.ipa
That version can load disk images. Very limited for now because there's no input methods or anything. Compatibility should be similar to other platforms, except for games that uses "self-modifying" code because I couldn't get that exception handler to work properly on iOS.

[2015-07-27 04:02] Fadi5555 commented on #16
@jpd002 thank you so much for adding image disks.

Well this is my quick testing
I have Barnyard on my iPad. So when I select it. No button shows

[2015-07-27 04:05] LoungeKatt commented on #16
"Very limited for now because there's no input methods or anything. "

[2015-07-27 04:05] adriandennis17 opened #261 "Save Game Cover To Device"
it seems with each launch of Play! it downloads the game cover
wouldn't it be more efficient, when a cover is downloaded its save
to the device..and is in a way sync to the game..so the game will use
the cover on the device instead of downloading again..and if the game
should be deleted the cover will automatically be deleted.

[2015-07-27 04:14] drainbeam commented on #16
Can add compatible games here: https://github.com/jpd002/Play-/wiki/Compatible-games#ios

As long as input isn't supported, "Menu/Title screen only" is the best that can be added for now.

I added a new section for iOS since Android/iOS versions are not as similar as Windows/OS X ones.

[2015-07-27 04:16] Thunder07 commented on #261
That's already been covered.

[2015-07-27 04:24] adriandennis17 commented on #261
oh..so does it also saves the game info ?

[2015-07-27 04:26] Thunder07 commented on #261
Yes

[2015-07-27 04:28] Fadi5555 commented on #16
Can you help me how to write section of ios to give my testing on that game
Because this is my first time

[2015-07-27 04:31] adriandennis17 commented on #261
just tested it..doesn't seem to save the info..

[2015-07-27 04:40] LoungeKatt commented on #261
Just tested what? Make sure to make a clean build from the current source, otherwise it won't save the info because the feature wasn't integrated yet.

[2015-07-27 04:43] adriandennis17 commented on #261
I'm talking the info about the game's you might have..if your connected to the net..you can get the info about the game..but if you offline it doesn't show.

[2015-07-27 04:46] LoungeKatt commented on #261
What is it with everyone explaining the obvious part of the statement, lol. What did you test? Was it the weekly build, a recent compile, or your toaster oven?

[2015-07-27 04:52] Thunder07 commented on #261
@adriandennis17 I said if weekly is out..

[2015-07-27 04:52] adriandennis17 commented on #261
@loungeKatt...😓

What i test: Game info..if you should highlight a game you will see the info about the game..it should also be available offline as @Thunder07 pointed out..but it's not showing while offline..

Build Tested On: 07/26/2015

[2015-07-27 04:53] Thunder07 commented on #261
I'm guessing you switched of your net to test that?

[2015-07-27 04:54] adriandennis17 commented on #261
@Thunder07 yes the game cover are now fetching from device..but game info is not available offline..

[2015-07-27 04:55] adriandennis17 commented on #261
yes..i switch wifi off..that's how i knew the game cover where fetching from my device.

[2015-07-27 04:59] Thunder07 commented on #261
Hehe your right, description is not showing, although it's being saved, I forgot to actually load it or something.

@LoungeKatt commit probably already dealt with that?

[2015-07-27 05:34] adriandennis17 commented on #261
also for .elf demos

when i highlight it to get info, it crashes the app

for .elf why not use one cover for .elf (i made one if you want 😆)

and since there's no database for getting an elf file info and there's no way of reading the info from the file...just give one info for elfs..stating what a elf is... game or app homebrew etc

[2015-07-27 05:42] jpd002 commented on #79
Available in latest weekly.

[2015-07-27 05:42] #79 closed

[2015-07-27 05:45] LinkofHyrule89 commented on #261
I'm sure this is covered but if it doesn't have info pulled it crashes. Small suggestion eventually there needs to be something that tells people long holding on a game will bring up the info. I didn't even know this function existed. Second suggestion would be whenever the Android TV UI is made you could probably just have it display the info when the game is selected instead of a long hold. Anyw

[2015-07-27 05:48] jpd002 commented on #261
I've updated the weekly build to include @LoungeKatt's changes which improves many thing with the file picker interface: http://purei.org/downloads/play/weekly/Play-20150726.apk

[2015-07-27 05:57] jpd002 commented on #260
What @drainbeam said. It's one of the things I'll be looking into pretty soon.

[2015-07-27 06:08] adriandennis17 commented on #261
@jpd002 i just tested that build from the link you post..

but it crashes if you try to launch while offline..

and if you should connect to the net and launch it works and while in the app disconnect from the net everything works but closing the app and then opening it again it crashes again.

[2015-07-27 06:14] drainbeam commented on #16
@Fadi5555 No problem. Barnyard is not playable yet with Play! on any platform though, but if you keep testing/posting screenshots here as proof, all the games can be added to iOS list too.

Eventually iOS and Android compatibility can be merged to one like Windows/Mac, I believe.

[2015-07-27 06:19] Fadi5555 commented on #16
@jpd002 you're alright. Thank you so much for help and your information as well.

Well here is my update about my testing of iOS port.

Crash bandicoot the warmth of cortex : keep on black screen

Crash bandicoot twinsanity : crash

[2015-07-27 06:46] drainbeam commented on #258
Could this be the issue?

![unknown](https://cloud.githubusercontent.com/assets/13511479/8900030/cc07069a-342a-11e5-8b4a-6720f7d38981.jpg)

The Emotion Engine debugger & disassembly doesn't seem to know what opcode is located there.

I don't use Visual Studio and I am unsure of any ways to look further into it, but I do have the game.

[2015-07-27 06:56] LoungeKatt commented on #261
https://github.com/jpd002/Play-/pull/262

[2015-07-27 07:13] LinkofHyrule89 commented on #82
Multiple people have said that the app loads games fine on other x86 devices so I'm wondering what it is exactly that's causing it if it's Android TV x86 specific or something else.

[2015-07-27 07:15] jpd002 commented on #258
The stuff there is normally the kernel's information. That value is quite weird though as it would most likely make the emulator crash since it's supposed to contain the id of the head of the DMAC handler list (which are supposed to go from 1 to 128).

[2015-07-27 07:33] drainbeam commented on #258
Hm ... doesn't crash; instead, sits on a black screen. Nothing seems to be amiss with the VUs as the OP is stating, but that one area might be a hot zone as to why the game is not showing anything.

The exact assembly code for that instruction should be: LQ K0, 18268 (0x47 + 0x5C). I have no idea how the DMAC works on PS2, so I'd really have to read up more on the subject to understand more.

[2015-07-27 08:07] Fadi5555 commented on #16
@jpd002 thank you so much for all what you have done on this amazing project.

I have a questions if don't mind:
can you fix issue of input method? I mean to add buttons on screen?
Also you said it's very limited. What do you mean by that? And can you break that limited?
I know you already developing it daily so that's great to go further.

Last thing. do you have any plan to fix that issues?

[2015-07-27 08:45] Alulabxxx commented on #79
When you release this version if you need a test i can do it for you, i have a lot of PS2 games in my collection ;) I also do a test on android with Note 3 if u need

[2015-07-27 12:20] Fadi5555 commented on #16
This is another test from me:
Tomb raider underworld : it crash

[2015-07-27 13:11] ghost opened #263 "Play! crashes when i click on game."
When i open a game on Play!, it crashes. furthermore, when i click on clear cache it crashes again. this did not happen before.

[2015-07-27 13:45] adriandennis17 commented on #263
what's your device

also did you force stop and then try to clear cache and data

[2015-07-27 16:33] LoungeKatt commented on #16
@Fadi5555 Go to https://github.com/jpd002/Play-/wiki/Compatible-games and click Edit in the upper right and then go down to your game to add the info. Be careful! This is a shared document.

Be patient. Adding controls in iOS is not an easy task. It requires a lot of extra stuff that Android does not.

[2015-07-27 17:11] Fadi5555 commented on #16
@LoungeKatt thank you so much for telling me that. Now I know how to add testing of games.
And I putted already my testing games so far and if there any new of testing I'll keep you up to date about it.

About adding controls I hope you could always find a solution for everything. I hope everything will become easy for you to do.
Keep going for this project to go further.

[2015-07-27 17:18] Abz1 commented on #263
@adriandennis17 yeah, i tried that, but it still crashed. Also my device is Motorola RAZR I x890 and it worked normal before the latest update.

[2015-07-27 17:20] LinkofHyrule89 commented on #263
It's an x86 device I really wonder why some of them seem to work ok and others it's just crashing. @Abz1 can you get a log using ADB Logcat?

[2015-07-27 17:47] LoungeKatt commented on #263
If all goes well, I will try to have my logger tool in a pull request. That will at least pull only the relevant logs into a single file. It should make it much easier to track down where the crash happens.

[2015-07-27 17:48] LinkofHyrule89 commented on #263
@LoungeKatt good idea that will probably be helpful hopefully we can figure out why some x86 devices work and others don't.

[2015-07-27 18:06] Micke87 commented on #7
Hello! First post in this forum. I think that you are doing a great job and looking forward to be able to play all my old ps2 games.

One e series that I see no one have mentioned is Sing Star games. I like to play these with my friends if it was possible to have all those in my android phone if would be great. I guess thou that the microphones would be and issue (connected through bluetooth or us

[2015-07-27 21:14] Abz1 commented on #263
@LinkofHyrule89 ok ill try to download ADB logcat from the playstore.

[2015-07-27 21:19] LinkofHyrule89 commented on #263
@Abz1 you can also use the Android SDK to do it as well I think that the logcat app requires root but I haven't used it for a while.

[2015-07-27 21:20] Abz1 commented on #263
I finally fixed the problem. It was a problem on my behalf. The reason why the app crashed and no cover art loaded was because my internet was offline. When the internet was online it never crashed!

[2015-07-27 21:21] LinkofHyrule89 commented on #263
@Abz1 well that's good to hear but still doesn't fix our other problem :( The problem you explain should be fixed in the next built.

[2015-07-28 04:49] jpd002 commented on #7
@Micke87 That's interesting and I guess it would be possible to use microphones for audio input in those games. I have no idea how they worked on the PS2 though, but I think it would be interesting to explore that at some point!

[2015-07-28 09:05] acocalypso commented on #86
@jpd002 is it possible to add a dev option in the settings menu to activate log output to logcat?

[2015-07-28 13:52] adriandennis17 opened #265 "Touch Control (fit to screen)"
It seems the control doesn't fit to screen or detects the device screen size and adjust the onscreen controls to give it the right fit and space..from the few small device's (4.5 inch) i see posting screenshots the controls appear squinged..

[2015-07-28 17:31] Thunder07 commented on #105
just a quick update, I know you didn't touch anything to do with the buffer or vertex but from the current weekly (25th/07) I now get this screen, which takes place slightly ahead of the usual green/mist screen (which often freezes or just crashes the emulator activity).

![screenshot_2015-07-28-16-24-48](https://cloud.githubusercontent.com/assets/5013823/8937980/a51d029e-3553-11e5-8b5b-34729dcd4d

[2015-07-28 18:15] acocalypso commented on #263
I do have the same problem on my one plus one.

[2015-07-28 18:18] LinkofHyrule89 commented on #263
I've not had any problems with the app on my OnePlus One however I also never turn off the internet on my phone. But as far as I know that bug has been fixed and should be in the next build anyways.

[2015-07-28 22:57] Fadi5555 commented on #16
iOS port needs more development and attention from you guys at least to take a result as android.

Please do your best on it.
We'll be always waiting to see the new about it.

[2015-07-28 23:11] LoungeKatt commented on #16
@Fadi5555 Pressure is not a valid form of contribution.

[2015-07-28 23:17] drainbeam commented on #16
@Fadi5555 If you or anybody adds more games to the Wiki for iOS, there can be special conditions compared to other platforms and limitations since the iOS port is still very early on:

1.Since iOS has no option to show FPS, put "Nothing/Crash" if a game sits on a black screen too long.

2.No game can pass the title screen since there's no input, so if you get to a title screen, you can put "Menu/T

[2015-07-29 05:10] jpd002 commented on #105
I did not investigate the crash issue yet, but as for the black squares, it has been fixed (partially) by 07ae4517959b81faeffebcf04ea61071946af7f8.

[2015-07-29 05:15] jpd002 commented on #86
@acocalypso The current logging system is pretty heavy because almost everything is logging stuff (disabled in release builds). I don't really know what kind of information would be useful, except for GLES context creation stuff which seems to be the biggest Android related problem at the moment.

[2015-07-29 05:38] Thunder07 commented on #105
Ah great, I didn't get the time to check it out and the game never made it this far for me to even see them.

Anyway, my post was mainly to stir some thoughts, it really makes no difference until we gain few more fps.

If I have any more thoughts, I'll be sure to spam you :p

[2015-07-29 05:44] Fadi5555 commented on #16
@drainbeam thank so much for all this information. I really appreciated.
Anyway I'll try to test more games and add my experience on the list.

[2015-07-29 05:51] jpd002 commented on #105
@Thunder07 Spam away :) Ideas are always good.

[2015-07-29 07:34] Fadi5555 commented on #16
I already test Haunting ground and put the result on the list.

[2015-07-29 07:42] ralf12345 commented on #7
hi jpd002,
Is there any hope for openGL 2.0 devices.

[2015-07-29 09:48] Thunder07 commented on #7
@ralf12345 have you tried the apk manually?
As far I can remember, the flag to set opengl is only is for playstore listing and that opengl is backwards compatible(not sure by how much though)

[2015-07-29 11:53] ralf12345 commented on #7
Yes, i tried it manually and getting this error "there was a problem while parsing the package" on samsung galaxy s3

[2015-07-29 11:56] ralf12345 commented on #7
And i cannot see  "play!" emulator on playstore either.

[2015-07-29 14:36] fivefeet8 commented on #7
@Thunder07 OpenGL es3 devices are backwards compatible, Opengl Es2 devices are not forwards compatible.

[2015-07-29 14:45] Thunder07 commented on #7
@fivefeet8 lol, ya ofc, don't know how I flipped that around :p

[2015-07-29 15:30] Fadi5555 commented on #16
Hi there
Well I'll try to test Final Fantasy X soon and give you the result on the list
I hope I get at least the same result of android version.

[2015-07-29 20:24] Fadi5555 commented on #16
Hey guys:

Well this is my testing update:
This time on final fantasy X
This game is able to load and show some animation from introduction:

Here is some images from my iPad Air 2

[2015-07-29 20:32] Fadi5555 commented on #16
Hey guys:

This is another update of my testing. This time will be on Final Fantasy X:
Well it's able to load and show the animation there:

Here is some images from my iPad Air 2

![image](https://cloud.githubusercontent.com/assets/10546081/8969007/639f4bbe-3649-11e5-977f-f4d4abdc1b1e.jpg)
![image](https://cloud.githubusercontent.com/assets/10546081/8969008/640626a4-3649-11e5-80b2-ef2a300129cd.jp

[2015-07-29 22:14] LoungeKatt commented on #16
@Fadi5555 Please stop spamming the issue. If you tested it, great! Put results on the compatibility list, make a post on Google+, go tell your pet iguana. This isn't a blog. Thanks.

[2015-07-30 02:19] Fadi5555 commented on #16
Ok

But there there is no need to say all that indeed.

[2015-07-30 03:09] LoungeKatt commented on #16
If you mean your posts, I agree. If you meant that as written, the 4 high-def screenshots I loaded on my data plan because I thought you actually needed help disagree.

[2015-07-30 19:47] orenrocco commented on #265
The controls are designed with OpenGL, but I will take a look at it

[2015-07-30 19:52] LoungeKatt commented on #265
@orenrocco They're in the build_android/res/drawable folder. They aren't designed with OpenGL. @adriandennis17 just forgot to mention that this was about the Android build.

[2015-07-30 19:53] Thunder07 commented on #265
not really. the controls a displayed using standard android [resources](https://github.com/jpd002/Play-/blob/master/Source/ui_android/java/com/virtualapplications/play/EmulatorActivity.java#L49)
it's probably just a limiation of [BitmapFactory.decodeResource](https://github.com/jpd002/Play-/blob/master/Source/ui_android/java/com/virtualapplications/play/VirtualPadView.java#L14) and obviously the f

[2015-07-30 19:55] LoungeKatt commented on #265
They aren't scaled. It's not a limitation, just not implemented.

[2015-07-30 20:13] Thunder07 commented on #265
@LoungeKatt there shouldn't be any need, android does most of this for it's resources automatically based on screen size and density.
as i said moving the images from drawable to drawable-xxhdpi or even  drawable-xhdpi should cause them to scale up/down based on whether that device is considered smaller or larger in density (compared to the folder it's in).

[2015-07-30 20:18] orenrocco commented on #265
@LoungeKatt alright

[2015-07-30 20:55] LoungeKatt commented on #265
The folders will work for an ImageView, yes. This is done by drawing the bitmap to a canvas. I posted the source above. You can see for yourself that they are semi-hardcoded sizes.

[2015-07-30 21:14] adriandennis17 commented on #265
![tmp_14142-qhd-ad171609522824](https://cloud.githubusercontent.com/assets/4733568/8995078/dd9b7736-36d4-11e5-885d-940d95977d33.jpg)
4inch (540x960)

![tmp_14142-hd-ad17-1161261633](https://cloud.githubusercontent.com/assets/4733568/8995084/e6a80178-36d4-11e5-9821-7c267b065058.png)
4.7inch (1280×720)

![tmp_14142-1080p-ad17545599133](https://cloud.githubusercontent.com/assets/4733568/8995100/f7791

[2015-07-30 21:37] LoungeKatt commented on #265
@adriandennis17 The description was clear, it just wasn't tagged "Android"

[2015-07-30 21:49] orenrocco commented on #265
Okay I will take a look at it tonight

[2015-07-31 04:29] Fadi5555 commented on #16
@jpd002 I want to ask you if you don't mind.

is there anything important will come to change the compatible list?
I mean is there anything will make the situation of games change like from black screen or crash to introduction or even playable?

Thanks.

[2015-07-31 06:09] jpd002 commented on #16
@Fadi5555 I'm constantly working on getting the compatibility and speed of the emulator, but that takes quite a lot of time. It's probably a couple of years off being a mature product that allows playing most games.

[2015-07-31 06:11] jpd002 commented on #265
@adriandennis17 Thanks for showing us what it looks like on different screen resolutions!

[2015-07-31 11:03] LinkofHyrule89 commented on #82
Since I know this isn't too priority for the project because other stuff needs to be worked on first I created a thread on xda to try and find some other devs to help with the problem. Hopefully someone takes interest and can help with this problem and the overall project http://forum.xda-developers.com/showthread.php?t=3169436

[2015-07-31 14:03] orenrocco commented on #265
+jpd002 I will send you part of my patch although I am not finished can you please finish it up. I am not able to because I am not feeling very good.

[2015-07-31 14:14] Thunder07 commented on #265
@orenrocco no one expect you to get things done in a day (except for me :p),
so you can take your time, if you don't feel like being able to get it done at all, you can send a pull request prefixing the title with something like "INCOMPLETE" or something of such sort, and maybe when any of us have time we'll look at it.

[2015-07-31 14:34] adriandennis17 commented on #265
@orenrocco no rush to get it done as @Thunder07 stated..
get well soon 👍

[2015-07-31 17:20] ragekit commented on #62
I'm really glad to hear that i might finally be able to play this game !
I tried compilling the gregory branch but i have no idea how to do it (i'm not really used to compilling stuff on a pc). Any ideas when a build with those changes will be available ?

[2015-07-31 19:52] Fadi5555 commented on #62
We all hope of enhancing the compatibility of games.
Maybe if they could improve IOP a bit more than that it'll absolutely effects all games in a good way

[2015-07-31 21:54] dona12345 opened #269 "opengl es2.0 rendering"
i have a note 2 so no opengl 3.0 ,is possible to render ps2 games in opengl es 2.0 like ppsspp?

[2015-07-31 22:13] LoungeKatt commented on #269
PPSSPP requires a lot less "power" to run, so that isn't really a fair comparison. Play! is better compared to Dolphin, which also requires 3.0

[2015-08-01 01:47] AbandonedCart opened #271 "Translations"
It would probably be a good idea to convert all the hard-coded text throughout the app into resources. This way it would support translations. Are there any plans to translate?

One way to go about it is opening up the translations to contributors. There is always someone out there that can take a bunch of English hoopla and translate it into another language. There is also the option to use Googl

[2015-08-01 02:20] orenrocco opened #272 "MARK FOR DELETION"
The ps2 had a developer choice of any mb video ram out of its 32 mb ram system,which  is connect to the GS(Graphic synthesizer )and at runs 150 MHZ and the bus is 128-bit wide. Furthermore, lets say most games use 4mb of video ram then if you do the math you will see that it is in theory capable of transferring about 76 MB pr. frame at 30 frames/sec, which over twice the size of the EE memory. How

[2015-08-01 02:40] orenrocco commented on #271
+LoungeKatt yea or http://stackoverflow.com/questions/1649676/open-source-language-translation-engine we could use https://lwn.net/Articles/472041/

[2015-08-01 04:40] jpd002 commented on #271
I didn't have plans to do translation in a close future, but I think it would be nice. I think letting people do the translation would be a better idea. IMO, using automatic translation is not good if you want quality.

I think extracting the hard-coded strings into resources would be a good first step. Then, we could write a small guide that explains how people can submit translations.

[2015-08-01 04:45] jpd002 commented on #269
While not impossible, I'm not planning on adding support for GLES 2.0. The emulator is already too slow to be playable on current generation devices, so, I don't think it would be worthwhile to write code to support older devices so they can play games with bad frame rates.

[2015-08-01 04:45] #269 closed

[2015-08-01 05:00] Thunder07 commented on #271
no harm really, if only for future proof.

[2015-08-01 05:01] jpd002 commented on #261
Will be in Sunday's weekly build (2015-02-08).

[2015-08-01 05:12] jpd002 commented on #240
That's been fixed in the previous weekly build (2015-07-26) which has largely improved game detection.

[2015-08-01 05:12] #240 closed

[2015-08-01 05:13] adriandennis17 commented on #261
Okay, will close issue.

[2015-08-01 05:13] #261 closed

[2015-08-01 05:23] adriandennis17 commented on #271
option to use Google translate as a base and then suggest corrections are submitted. that seems like a good option to me..

[2015-08-01 05:33] adriandennis17 commented on #272
why not, the more settings the better,
this could be a speedhack that can be enabled or disabled.

[2015-08-01 05:37] LoungeKatt commented on #271
For Reicast, we made a bunch of templates using Translate and then let people submit pulls with the fixes or edit the files and submit them to the server to be integrated in a pull by someone on the team. The automated versions were never meant to ship, but they did provide that extra little push for someone to get it done, if for no other reason than to point out where it was wrong.